4c4
<             <h2><span dojoTranslate="teamdojoApp.comment.detail.title">Comment</span> {{comment.id}}</h2>
---
>             <h2><span jhiTranslate="teamdojoApp.comment.detail.title">Comment</span> {{comment.id}}</h2>
8c8
<                 <dt><span dojoTranslate="teamdojoApp.comment.text">Text</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.comment.text">Text</span></dt>
12c12
<                 <dt><span dojoTranslate="teamdojoApp.comment.creationDate">Creation Date</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.comment.creationDate">Creation Date</span></dt>
16c16
<                 <dt><span dojoTranslate="teamdojoApp.comment.team">Team</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.comment.team">Team</span></dt>
22c22
<                 <dt><span dojoTranslate="teamdojoApp.comment.skill">Skill</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.comment.skill">Skill</span></dt>
33c33
<                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.back"> Back</span>
---
>                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
39c39
<                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.edit"> Edit</span>
---
>                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
