3c3
<         <span dojoTranslate="teamdojoApp.comment.home.title">Comments</span>
---
>         <span jhiTranslate="teamdojoApp.comment.home.title">Comments</span>
6c6
<             <span  dojoTranslate="teamdojoApp.comment.home.createLabel">
---
>             <span  jhiTranslate="teamdojoApp.comment.home.createLabel">
17,26c17,21
<                 <th jhiSortBy="id"><span dojoTranslate="teamdojoApp.global.field.id">ID</span> <span
<                     class="fa fa-sort"></span></th>
<                 <th jhiSortBy="text"><span dojoTranslate="teamdojoApp.comment.text">Text</span> <span
<                     class="fa fa-sort"></span></th>
<                 <th jhiSortBy="creationDate"><span dojoTranslate="teamdojoApp.comment.creationDate">Creation Date</span>
<                     <span class="fa fa-sort"></span></th>
<                 <th jhiSortBy="teamShortName"><span dojoTranslate="teamdojoApp.comment.team">Team</span> <span
<                     class="fa fa-sort"></span></th>
<                 <th jhiSortBy="skillTitle"><span dojoTranslate="teamdojoApp.comment.skill">Skill</span> <span
<                     class="fa fa-sort"></span></th>
---
>             <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="text"><span jhiTranslate="teamdojoApp.comment.text">Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="creationDate"><span jhiTranslate="teamdojoApp.comment.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="teamShortName"><span jhiTranslate="teamdojoApp.comment.team">Team</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="skillTitle"><span jhiTranslate="teamdojoApp.comment.skill">Skill</span> <fa-icon [icon]="'sort'"></fa-icon></th>
30,31c25
<             <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
<                    [infiniteScrollDistance]="0">
---
>             <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
52c46
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.view">View</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
58c52
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.edit">Edit</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
66c60
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.delete">Delete</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
