<div>
  <h2 id="page-heading" data-cy="CommentHeading">
    <span jhiTranslate="teamDojoApp.comment.home.title">Comments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamDojoApp.comment.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-comment"
        [routerLink]="['/comment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamDojoApp.comment.home.createLabel"> Create a new Comment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="comments?.length === 0">
    <span jhiTranslate="teamDojoApp.comment.home.notFound">No comments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="comments && comments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="text"><span jhiTranslate="teamDojoApp.comment.text">Text</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdAt">
            <span jhiTranslate="teamDojoApp.comment.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <span jhiTranslate="teamDojoApp.comment.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="team.shortTitle">
            <span jhiTranslate="teamDojoApp.comment.team">Team</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="skill.title">
            <span jhiTranslate="teamDojoApp.comment.skill">Skill</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let comment of comments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/comment', comment.id, 'view']">{{ comment.id }}</a>
          </td>
          <td>{{ comment.text }}</td>
          <td>{{ comment.createdAt | formatMediumDatetime }}</td>
          <td>{{ comment.updatedAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="comment.team">
              <a [routerLink]="['/team', comment.team?.id, 'view']">{{ comment.team?.shortTitle }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="comment.skill">
              <a [routerLink]="['/skill', comment.skill?.id, 'view']">{{ comment.skill?.titleEN }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/comment', comment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/comment', comment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(comment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
