/*
 SPDX-FileCopyrightText: the TeamDojo authors
 SPDX-License-Identifier: Apache-2.0
 */
@import '../../../../content/custom/scss/colors';

#score-input {
  width: 76px;
}

// Issue #88
.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
