2c2
<     <h2 dojoTranslate="configuration.title" id="configuration-page-heading">Configuration</h2>
---
>     <h2 id="configuration-page-heading" jhiTranslate="configuration.title">Configuration</h2>
4c4
<     <span dojoTranslate="configuration.filter">Filter (by prefix)</span> <input [(ngModel)]="filter" class="form-control" type="text">
---
>     <span jhiTranslate="configuration.filter">Filter (by prefix)</span> <input type="text" [(ngModel)]="filter" class="form-control">
9,10c9,10
<             <th (click)="orderProp = 'prefix'; reverse=!reverse" class="w-40"><span dojoTranslate="configuration.table.prefix">Prefix</span></th>
<             <th (click)="orderProp = 'properties'; reverse=!reverse" class="w-60"><span dojoTranslate="configuration.table.properties">Properties</span></th>
---
>             <th class="w-40" (click)="orderProp = 'prefix'; reverse=!reverse"><span jhiTranslate="configuration.table.prefix">Prefix</span></th>
>             <th class="w-60" (click)="orderProp = 'properties'; reverse=!reverse"><span jhiTranslate="configuration.table.properties">Properties</span></th>
