<jhi-background-component [teamSkills]="selectedTeam?.skills" [badges]="badges" [skills]="skills"></jhi-background-component>

<div class="row back">
  <div class="col-20">
    <a class="breadcrumb-item active" [routerLink]="['/teams', team.shortTitle]">
      <fa-icon icon="angle-left"></fa-icon>
      {{ 'teamDojoApp.customGlobal.menu.teams.home' | translate }}</a
    >
  </div>
</div>
<div class="row skill-details">
  <div class="skills-list col-20">
    <jhi-teams-skills
      [team]="team"
      [skill]="achievableSkill"
      (skillClicked)="onSkillInListClicked($event)"
      (skillChanged)="onSkillInListChanged($event)"
    ></jhi-teams-skills>
  </div>
  <div class="skill-info col-60">
    <jhi-skill-details-info
      (voteSubmitted)="onVoteSubmitted($event)"
      (commentSubmitted)="onCommentSubmitted($event)"
      (skillChanged)="skillList.handleSkillChanged($event)"
      [skill]="skill"
      [team]="team"
      [achievableSkill]="achievableSkill"
    ></jhi-skill-details-info>
  </div>
  <div class="skill-comments col-20" [ngClass]="{ 'same-team': isSameTeam }">
    <jhi-skill-details-comments
      [skill]="skill"
      [comments]="skillComments"
      [selectedTeam]="selectedTeam"
      [teams]="teams"
      (commentSubmitted)="onCommentSubmitted($event)"
    >
    </jhi-skill-details-comments>
  </div>
</div>
