<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-dimension-heading" data-cy="DimensionCreateUpdateHeading" jhiTranslate="teamDojoApp.dimension.home.createOrEditLabel">
        Create or edit a Dimension
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamDojoApp.dimension.titleEN" for="field_titleEN">Title EN</label>
          <input type="text" class="form-control" name="titleEN" id="field_titleEN" data-cy="titleEN" formControlName="titleEN" />
          <div *ngIf="editForm.get('titleEN')!.invalid && (editForm.get('titleEN')!.dirty || editForm.get('titleEN')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('titleEN')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('titleEN')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 1 }"
            >
              This field is required to be at least 1 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('titleEN')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamDojoApp.dimension.titleDE" for="field_titleDE">Title DE</label>
          <input type="text" class="form-control" name="titleDE" id="field_titleDE" data-cy="titleDE" formControlName="titleDE" />
          <div *ngIf="editForm.get('titleDE')!.invalid && (editForm.get('titleDE')!.dirty || editForm.get('titleDE')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('titleDE')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 1 }"
            >
              This field is required to be at least 1 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('titleDE')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamDojoApp.dimension.descriptionEN" for="field_descriptionEN">Description EN</label>
          <input
            type="text"
            class="form-control"
            name="descriptionEN"
            id="field_descriptionEN"
            data-cy="descriptionEN"
            formControlName="descriptionEN"
          />
          <div
            *ngIf="
              editForm.get('descriptionEN')!.invalid && (editForm.get('descriptionEN')!.dirty || editForm.get('descriptionEN')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descriptionEN')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 4096 }"
            >
              This field cannot be longer than 4096 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamDojoApp.dimension.descriptionDE" for="field_descriptionDE">Description DE</label>
          <input
            type="text"
            class="form-control"
            name="descriptionDE"
            id="field_descriptionDE"
            data-cy="descriptionDE"
            formControlName="descriptionDE"
          />
          <div
            *ngIf="
              editForm.get('descriptionDE')!.invalid && (editForm.get('descriptionDE')!.dirty || editForm.get('descriptionDE')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descriptionDE')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 4096 }"
            >
              This field cannot be longer than 4096 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamDojoApp.dimension.createdAt" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('createdAt')!.invalid && (editForm.get('createdAt')!.dirty || editForm.get('createdAt')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdAt')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamDojoApp.dimension.updatedAt" for="field_updatedAt">Updated At</label>
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('updatedAt')!.invalid && (editForm.get('updatedAt')!.dirty || editForm.get('updatedAt')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('updatedAt')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('updatedAt')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
