<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="organisation">
      <h2 data-cy="organisationDetailsHeading"><span jhiTranslate="teamDojoApp.organisation.detail.title">Organisation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ organisation.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamDojoApp.organisation.title">Title</span></dt>
        <dd>
          <span>{{ organisation.title }}</span>
        </dd>
        <dt><span jhiTranslate="teamDojoApp.organisation.description">Description</span></dt>
        <dd>
          <span>{{ organisation.description }}</span>
        </dd>
        <dt><span jhiTranslate="teamDojoApp.organisation.levelUpScore">Level Up Score</span></dt>
        <dd>
          <span>{{ organisation.levelUpScore }}</span>
        </dd>
        <dt><span jhiTranslate="teamDojoApp.organisation.countOfConfirmations">Count Of Confirmations</span></dt>
        <dd>
          <span>{{ organisation.countOfConfirmations }}</span>
        </dd>
        <dt><span jhiTranslate="teamDojoApp.organisation.createdAt">Created At</span></dt>
        <dd>
          <span>{{ organisation.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="teamDojoApp.organisation.updatedAt">Updated At</span></dt>
        <dd>
          <span>{{ organisation.updatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="teamDojoApp.organisation.parent">Parent</span></dt>
        <dd>
          <div *ngIf="organisation.parent">
            <a [routerLink]="['/organisation', organisation.parent?.id, 'view']">{{ organisation.parent?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/organisation', organisation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
