# shellcheck shell=sh
# https://direnv.net/man/direnv-stdlib.1.html
PATH_add tools
# shellcheck disable=SC2155
export PROJECT_DIR="$(pwd)"
export SPRING_PROFILE="dev,swagger"
source "${PROJECT_DIR}/.secrets"
