3c3
<         <span dojoTranslate="teamdojoApp.team.home.title">Teams</span>
---
>         <span jhiTranslate="teamdojoApp.team.home.title">Teams</span>
6c6
<             <span  dojoTranslate="teamdojoApp.team.home.createLabel">
---
>             <span  jhiTranslate="teamdojoApp.team.home.createLabel">
17,25c17,25
<             <th jhiSortBy="id"><span dojoTranslate="teamdojoApp.global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="name"><span dojoTranslate="teamdojoApp.team.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="shortName"><span dojoTranslate="teamdojoApp.team.shortName">Short Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="slogan"><span dojoTranslate="teamdojoApp.team.slogan">Slogan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="contactPerson"><span dojoTranslate="teamdojoApp.team.contactPerson">Contact Person</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="validUntil"><span dojoTranslate="teamdojoApp.team.validUntil">Valid Until</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="pureTrainingTeam"><span dojoTranslate="teamdojoApp.team.pureTrainingTeam">Pure Training Team</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="official"><span dojoTranslate="teamdojoApp.team.official">Official</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="imageName"><span dojoTranslate="teamdojoApp.team.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
---
>             <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="name"><span jhiTranslate="teamdojoApp.team.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="shortName"><span jhiTranslate="teamdojoApp.team.shortName">Short Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="slogan"><span jhiTranslate="teamdojoApp.team.slogan">Slogan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="contactPerson"><span jhiTranslate="teamdojoApp.team.contactPerson">Contact Person</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="validUntil"><span jhiTranslate="teamdojoApp.team.validUntil">Valid Until</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="pureTrainingTeam"><span jhiTranslate="teamdojoApp.team.pureTrainingTeam">Pure Training Team</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="official"><span jhiTranslate="teamdojoApp.team.official">Official</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="imageName"><span jhiTranslate="teamdojoApp.team.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
50c50
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.view">View</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
56c56
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.edit">Edit</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
64c64
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.delete">Delete</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
