3c3
<         <h4 class="modal-title" dojoTranslate="entity.delete.title">Confirm delete operation</h4>
---
>         <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
9c9
<         <p id="jhi-delete-team-heading" dojoTranslate="teamdojoApp.team.delete.question" [translateValues]="{name: team.name}">Are you sure you want to delete this Team?</p>
---
>         <p id="jhi-delete-team-heading" jhiTranslate="teamdojoApp.team.delete.question" [translateValues]="{id: team.id}">Are you sure you want to delete this Team?</p>
13c13
<             <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.cancel">Cancel</span>
---
>             <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
16c16
<             <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.delete">Delete</span>
---
>             <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
