4c4
<             <h2 id="jhi-team-heading" dojoTranslate="teamdojoApp.team.home.createOrEditLabel">Create or edit a Team</h2>
---
>             <h2 id="jhi-team-heading" jhiTranslate="teamdojoApp.team.home.createOrEditLabel">Create or edit a Team</h2>
8c8
<                     <label for="id" dojoTranslate="teamdojoApp.global.field.id">ID</label>
---
>                     <label for="id" jhiTranslate="global.field.id">ID</label>
13,14c13
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.team.name"
<                            for="field_name">Name</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.team.name" for="field_name">Name</label>
19,20c18
<                                [hidden]="!editForm.controls.name?.errors?.required"
<                                dojoTranslate="entity.validation.required">
---
>                         [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
24,25c22
<                                [hidden]="!editForm.controls.name?.errors?.minlength"
<                                dojoTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
---
>                         [hidden]="!editForm.controls.name?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
29,30c26
<                                [hidden]="!editForm.controls.name?.errors?.maxlength"
<                                dojoTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
---
>                         [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
36,37c32
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.team.shortName" for="field_shortName">Short
<                         Name</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.team.shortName" for="field_shortName">Short Name</label>
42,43c37
<                                [hidden]="!editForm.controls.shortName?.errors?.required"
<                                dojoTranslate="entity.validation.required">
---
>                         [hidden]="!editForm.controls.shortName?.errors?.required" jhiTranslate="entity.validation.required">
47,48c41
<                                [hidden]="!editForm.controls.shortName?.errors?.minlength"
<                                dojoTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
---
>                         [hidden]="!editForm.controls.shortName?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
52,53c45
<                                [hidden]="!editForm.controls.shortName?.errors?.maxlength"
<                                dojoTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
---
>                         [hidden]="!editForm.controls.shortName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
57,58c49
<                                [hidden]="!editForm.controls.shortName?.errors?.pattern"
<                                dojoTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Short Name' }">
---
>                             [hidden]="!editForm.controls.shortName?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Short Name' }">
64,65c55
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.team.slogan"
<                            for="field_slogan">Slogan</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.team.slogan" for="field_slogan">Slogan</label>
70,71c60
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.team.contactPerson"
<                            for="field_contactPerson">Contact Person</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.team.contactPerson" for="field_contactPerson">Contact Person</label>
76,77c65
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.team.validUntil" for="field_validUntil">Valid
<                         Until</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.team.validUntil" for="field_validUntil">Valid Until</label>
79c67,68
<                         <input id="field_validUntil" type="datetime-local" class="form-control" name="validUntil" [(ngModel)]="validUntil"/>
---
>                         <input id="field_validUntil" type="datetime-local" class="form-control" name="validUntil" [(ngModel)]="validUntil" placeholder="YYYY-MM-DD HH:mm"
>                         />
83c72
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.team.pureTrainingTeam" for="field_pureTrainingTeam">Pure Training Team</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.team.pureTrainingTeam" for="field_pureTrainingTeam">Pure Training Team</label>
88c77
<                         [hidden]="!editForm.controls.pureTrainingTeam?.errors?.required" dojoTranslate="entity.validation.required">
---
>                         [hidden]="!editForm.controls.pureTrainingTeam?.errors?.required" jhiTranslate="entity.validation.required">
93,94d81
<                 <span>{{ 'teamdojoApp.team.pureTrainingTeamExplanation' | translate }}</span>
<                 <hr>
96c83
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.team.official" for="field_official">Is Official</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.team.official" for="field_official">Official</label>
98c85
<                            [(ngModel)]="team.official" />
---
>                         [(ngModel)]="team.official" />
101,102c88,89
<                                [hidden]="!editForm.controls.official?.errors?.required" dojoTranslate="entity.validation.required">
<                             This field is required.
---
>                         [hidden]="!editForm.controls.official?.errors?.required" jhiTranslate="entity.validation.required">
>                         This field is required.
106,114c93
<                 <span>{{ 'teamdojoApp.team.officialExplanation' | translate }}</span>
<                 <hr>
<                 <div class="form-group">
<                     <label dojoTranslate="teamdojoApp.team.participations"
<                            for="field_participations">Participations</label>
<                     <select class="form-control" id="field_participations" multiple name="participations" [(ngModel)]="team.participations">
<                         <option [ngValue]="getSelected(team.participations, dimensionOption)" *ngFor="let dimensionOption of dimensions; trackBy: trackDimensionById">{{dimensionOption.name}}</option>
<                     </select>
<                 </div>
---
> 
116,117c95
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.team.image"
<                            for="field_image">Image</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.team.image" for="field_image">Image</label>
122a101,106
>                 <div class="form-group">
>                     <label jhiTranslate="teamdojoApp.team.participations" for="field_participations">Participations</label>
>                     <select class="form-control" id="field_participations" multiple name="participations" [(ngModel)]="team.participations">
>                         <option [ngValue]="getSelected(team.participations, dimensionOption)" *ngFor="let dimensionOption of dimensions; trackBy: trackDimensionById">{{dimensionOption.name}}</option>
>                     </select>
>                 </div>
126c110
<                     <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.cancel">Cancel</span>
---
>                     <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
129c113
<                     <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.save">Save</span>
---
>                     <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
