3c3
<         <span dojoTranslate="teamdojoApp.organization.home.title">Organizations</span>
---
>         <span jhiTranslate="teamdojoApp.organization.home.title">Organizations</span>
6c6
<             <span  dojoTranslate="teamdojoApp.organization.home.createLabel">
---
>             <span  jhiTranslate="teamdojoApp.organization.home.createLabel">
17,22c17,22
<             <th><span dojoTranslate="teamdojoApp.global.field.id">ID</span></th>
<             <th><span dojoTranslate="teamdojoApp.organization.name">Name</span></th>
<             <th><span dojoTranslate="teamdojoApp.organization.levelUpScore">Level Up Score</span></th>
<             <th><span dojoTranslate="teamdojoApp.organization.userMode">User Mode</span></th>
<             <th><span dojoTranslate="teamdojoApp.organization.mattermostUrl">Mattermost Url</span></th>
<             <th><span dojoTranslate="teamdojoApp.organization.countOfConfirmations">Count Of Confirmations</span></th>
---
>             <th><span jhiTranslate="global.field.id">ID</span></th>
>             <th><span jhiTranslate="teamdojoApp.organization.name">Name</span></th>
>             <th><span jhiTranslate="teamdojoApp.organization.levelUpScore">Level Up Score</span></th>
>             <th><span jhiTranslate="teamdojoApp.organization.userMode">User Mode</span></th>
>             <th><span jhiTranslate="teamdojoApp.organization.mattermostUrl">Mattermost Url</span></th>
>             <th><span jhiTranslate="teamdojoApp.organization.countOfConfirmations">Count Of Confirmations</span></th>
31c31
<                 <td dojoTranslate="{{'teamdojoApp.UserMode.' + organization.userMode}}">{{organization.userMode}}</td>
---
>                 <td jhiTranslate="{{'teamdojoApp.UserMode.' + organization.userMode}}">{{organization.userMode}}</td>
40c40
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.view">View</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
46c46
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.edit">Edit</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
54c54
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.delete">Delete</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
