4c4
<             <h2><span dojoTranslate="teamdojoApp.organization.detail.title">Organization</span> {{organization.id}}</h2>
---
>             <h2><span jhiTranslate="teamdojoApp.organization.detail.title">Organization</span> {{organization.id}}</h2>
8c8
<                 <dt><span dojoTranslate="teamdojoApp.organization.name">Name</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.organization.name">Name</span></dt>
12c12
<                 <dt><span dojoTranslate="teamdojoApp.organization.levelUpScore">Level Up Score</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.organization.levelUpScore">Level Up Score</span></dt>
16c16
<                 <dt><span dojoTranslate="teamdojoApp.organization.userMode">User Mode</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.organization.userMode">User Mode</span></dt>
18,19c18
<                     <span
<                         dojoTranslate="{{'teamdojoApp.UserMode.' + organization.userMode}}">{{organization.userMode}}</span>
---
>                     <span jhiTranslate="{{'teamdojoApp.UserMode.' + organization.userMode}}">{{organization.userMode}}</span>
21c20
<                 <dt><span dojoTranslate="teamdojoApp.organization.mattermostUrl">Mattermost Url</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.organization.mattermostUrl">Mattermost Url</span></dt>
25c24
<                 <dt><span dojoTranslate="teamdojoApp.organization.countOfConfirmations">Count Of Confirmations</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.organization.countOfConfirmations">Count Of Confirmations</span></dt>
34c33
<                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.back"> Back</span>
---
>                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
40c39
<                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.edit"> Edit</span>
---
>                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
