4,5c4
<             <h2 *ngIf="account" [translateValues]="{username: account.login}" dojoTranslate="password.title">Password for
<                 [<b>{{account.login}}</b>]</h2>
---
>             <h2 jhiTranslate="password.title" [translateValues]="{username: account.login}" *ngIf="account">Password for [<b>{{account.login}}</b>]</h2>
7c6
<             <div *ngIf="success" class="alert alert-success" dojoTranslate="password.messages.success">
---
>             <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
10c9
<             <div *ngIf="error" class="alert alert-danger"  dojoTranslate="password.messages.error">
---
>             <div class="alert alert-danger" *ngIf="error"  jhiTranslate="password.messages.error">
14,15c13
<             <div class="alert alert-danger" *ngIf="doNotMatch"
<                  dojoTranslate="teamdojoApp.global.messages.error.dontmatch">
---
>             <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
22,23c20
<                     <label class="form-control-label" for="currentPassword"
<                            dojoTranslate="teamdojoApp.global.form.currentpassword">Current password</label>
---
>                     <label class="form-control-label" for="currentPassword" jhiTranslate="global.form.currentpassword">Current password</label>
25c22
<                            placeholder="{{'teamdojoApp.global.form.currentpassword.placeholder' | translate}}"
---
>                            placeholder="{{'global.form.currentpassword.placeholder' | translate}}"
29,30c26
<                                *ngIf="currentPasswordInput.errors.required"
<                                dojoTranslate="teamdojoApp.global.messages.validate.newpassword.required">
---
>                                *ngIf="currentPasswordInput.errors.required" jhiTranslate="global.messages.validate.newpassword.required">
36,37c32
<                     <label class="form-control-label" for="newPassword"
<                            dojoTranslate="teamdojoApp.global.form.newpassword">New password</label>
---
>                     <label class="form-control-label" for="newPassword" jhiTranslate="global.form.newpassword">New password</label>
39c34
<                            placeholder="{{'teamdojoApp.global.form.newpassword.placeholder' | translate}}"
---
>                     placeholder="{{'global.form.newpassword.placeholder' | translate}}"
43,44c38
<                                *ngIf="newPasswordInput.errors.required"
<                                dojoTranslate="teamdojoApp.global.messages.validate.newpassword.required">
---
>                            *ngIf="newPasswordInput.errors.required" jhiTranslate="global.messages.validate.newpassword.required">
48,49c42
<                                *ngIf="newPasswordInput.errors.minlength"
<                                dojoTranslate="teamdojoApp.global.messages.validate.newpassword.minlength">
---
>                            *ngIf="newPasswordInput.errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength">
53,54c46
<                                *ngIf="newPasswordInput.errors.maxlength"
<                                dojoTranslate="teamdojoApp.global.messages.validate.newpassword.maxlength">
---
>                            *ngIf="newPasswordInput.errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
61,62c53
<                     <label class="form-control-label" for="confirmPassword"
<                            dojoTranslate="teamdojoApp.global.form.confirmpassword">New password confirmation</label>
---
>                     <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword">New password confirmation</label>
64c55
<                            placeholder="{{'teamdojoApp.global.form.confirmpassword.placeholder' | translate}}"
---
>                     placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
68,69c59
<                                *ngIf="confirmPasswordInput.errors.required"
<                                dojoTranslate="teamdojoApp.global.messages.validate.confirmpassword.required">
---
>                            *ngIf="confirmPasswordInput.errors.required" jhiTranslate="global.messages.validate.confirmpassword.required">
73,74c63
<                                *ngIf="confirmPasswordInput.errors.minlength"
<                                dojoTranslate="teamdojoApp.global.messages.validate.confirmpassword.minlength">
---
>                            *ngIf="confirmPasswordInput.errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength">
78,79c67
<                                *ngIf="confirmPasswordInput.errors.maxlength"
<                                dojoTranslate="teamdojoApp.global.messages.validate.confirmpassword.maxlength">
---
>                            *ngIf="confirmPasswordInput.errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength">
85c73
<                 <button [disabled]="passwordForm.form.invalid" class="btn btn-primary" dojoTranslate="password.form.button" type="submit">Save</button>
---
>                 <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary" jhiTranslate="password.form.button">Save</button>
