<div>
  <h2 id="page-heading" data-cy="LevelSkillHeading">
    <span jhiTranslate="teamDojoApp.levelSkill.home.title">Level Skills</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamDojoApp.levelSkill.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-level-skill"
        [routerLink]="['/level-skill/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamDojoApp.levelSkill.home.createLabel"> Create a new Level Skill </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="levelSkills?.length === 0">
    <span jhiTranslate="teamDojoApp.levelSkill.home.notFound">No Level Skills found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="levelSkills && levelSkills.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="skill.titleEN">
            <span jhiTranslate="teamDojoApp.levelSkill.skill">Skill</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="level.titleEN">
            <span jhiTranslate="teamDojoApp.levelSkill.level">Level</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let levelSkill of levelSkills; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/level-skill', levelSkill.id, 'view']">{{ levelSkill.id }}</a>
          </td>
          <td>
            <div *ngIf="levelSkill.skill">
              <a [routerLink]="['/skill', levelSkill.skill.id, 'view']">{{ levelSkill.skill?.titleEN }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="levelSkill.level">
              <a [routerLink]="['/level', levelSkill.level.id, 'view']">{{ levelSkill.level?.titleEN }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/level-skill', levelSkill.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/level-skill', levelSkill.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(levelSkill)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
