<div>
  <h2 id="page-heading" data-cy="LevelHeading">
    <span jhiTranslate="teamDojoApp.level.home.title">Levels</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamDojoApp.level.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-level"
        [routerLink]="['/level/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamDojoApp.level.home.createLabel"> Create a new Level </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="levels?.length === 0">
    <span jhiTranslate="teamDojoApp.level.home.notFound">No levels found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="levels && levels.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title"><span jhiTranslate="teamDojoApp.level.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="teamDojoApp.level.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="requiredScore">
            <span jhiTranslate="teamDojoApp.level.requiredScore">Required Score</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="instantMultiplier">
            <span jhiTranslate="teamDojoApp.level.instantMultiplier">Instant Multiplier</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="completionBonus">
            <span jhiTranslate="teamDojoApp.level.completionBonus">Completion Bonus</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <span jhiTranslate="teamDojoApp.level.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <span jhiTranslate="teamDojoApp.level.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dependsOn.title">
            <span jhiTranslate="teamDojoApp.level.dependsOn">Depends On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="image.title">
            <span jhiTranslate="teamDojoApp.level.image">Image</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dimension.title">
            <span jhiTranslate="teamDojoApp.level.dimension">Dimension</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let level of levels; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/level', level.id, 'view']">{{ level.id }}</a>
          </td>
          <td>{{ level.title }}</td>
          <td>{{ level.description }}</td>
          <td>{{ level.requiredScore }}</td>
          <td>{{ level.instantMultiplier }}</td>
          <td>{{ level.completionBonus }}</td>
          <td>{{ level.createdAt | formatMediumDatetime }}</td>
          <td>{{ level.updatedAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="level.dependsOn">
              <a [routerLink]="['/level', level.dependsOn?.id, 'view']">{{ level.dependsOn?.title }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="level.image">
              <a [routerLink]="['/image', level.image?.id, 'view']">{{ level.image?.title }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="level.dimension">
              <a [routerLink]="['/dimension', level.dimension?.id, 'view']">{{ level.dimension?.title }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/level', level.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/level', level.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(level)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
