4c4
<             <h2><span dojoTranslate="teamdojoApp.activity.detail.title">Activity</span> {{activity.id}}</h2>
---
>             <h2><span jhiTranslate="teamdojoApp.activity.detail.title">Activity</span> {{activity.id}}</h2>
8c8
<                 <dt><span dojoTranslate="teamdojoApp.activity.type">Type</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.activity.type">Type</span></dt>
10c10
<                     <span dojoTranslate="{{'teamdojoApp.ActivityType.' + activity.type}}">{{activity.type}}</span>
---
>                     <span jhiTranslate="{{'teamdojoApp.ActivityType.' + activity.type}}">{{activity.type}}</span>
12c12
<                 <dt><span dojoTranslate="teamdojoApp.activity.data">Data</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.activity.data">Data</span></dt>
16c16
<                 <dt><span dojoTranslate="teamdojoApp.activity.createdAt">Created At</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.activity.createdAt">Created At</span></dt>
25c25
<                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.back"> Back</span>
---
>                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
31c31
<                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.edit"> Edit</span>
---
>                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
