<div class="super-wrapper d-flex">
  <div class="expired-wrapper d-flex">
    <span *ngIf="showExpiredLabel && isExpired(team)" class="expired-label">EXPIRED</span>
  </div>

  <div
    class="team-image-wrapper d-flex justify-content-center"
    [ngClass]="{ 'has-border': hasBorder, 'has-overlay': hasOverlay }"
    [ngStyle]="{ width: size, height: size }"
  >
    <div
      class="team-image"
      *ngIf="team?.image?.id; else picturePlaceholder"
      [ngStyle]="{ 'background-image': 'url(' + (team?.image?.id | imageUrl: imageSize:team?.image?.title) + ')' }"
    ></div>

    <ng-template #picturePlaceholder>
      <span *ngIf="hasPlaceholder" class="img-placeholder">{{ team?.shortTitle | truncateString }}</span>
    </ng-template>
  </div>
</div>
