<div class="teams-skills p-0 d-flex flex-column h-100">
  <div class="teams-skills-filter">
    <h4>{{ 'teamDojoApp.teams.skills.title' | translate }}</h4>
    <div class="d-flex flex-column justify-content-between">
      <div class="form-inline mb-2 justify-content-between">
        <div class="mb-3 form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="checkIncomplete"
            [checked]="(filters ? filters.indexOf('INCOMPLETE') : -1) > -1"
            (click)="onFilterClicked('INCOMPLETE')"
          />
          <label class="form-check-label" for="checkIncomplete" jhiTranslate="teamDojoApp.teams.skills.search.filter.label"> </label>
        </div>
        <div class="mb-3 skill-sort">
          <select class="form-control" name="orderBy" [(ngModel)]="orderBy" id="field_orderBy" (ngModelChange)="onSkillSort()">
            <option value="title">{{ 'teamDojoApp.teams.skills.search.orderBy.title' | translate }}</option>
            <option value="score">{{ 'teamDojoApp.teams.skills.search.orderBy.score' | translate }}</option>
            <option value="rateCount">{{ 'teamDojoApp.teams.skills.search.orderBy.rateCount' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="mb-3 mb-2 skill-search">
        <input
          #inputField
          type="text"
          [placeholder]="'teamDojoApp.teams.skills.search.placeholder' | translate"
          class="skill-search-input"
          [value]="search"
          (keyup)="search$.next(inputField.value)"
        />
      </div>
    </div>
  </div>
  <div class="teams-skills-list list-group p-0 overflow-auto" data-simplebar>
    <div class="d-flex flex-row flex-wrap pt-1">
      <div
        class="list-group-item list-group-item-action flex-column align-items-start mb-3 skill-list-item"
        [ngClass]="{ 'active-skill': isActiveSkill(skill), 'irrelevant-skill': skill.irrelevant, 'in-skill-details': isInSkillDetails() }"
        *ngFor="let skill of skills | achievableSkillFilter: search"
      >
        <jhi-skill-card
          [skill]="skill"
          [team]="team"
          [levelId]="levelId"
          [badgeId]="badgeId"
          [dimensionId]="dimensionId"
          [activeBadge]="activeBadge"
          [activeLevel]="activeLevel"
          [activeDimension]="activeDimension"
          [hasAuthority]="hasAuthority"
          (skillClickedEvent)="handleSkillClicked($event)"
          (updateSkillEvent)="updateSkill($event)"
        ></jhi-skill-card>
      </div>
    </div>
  </div>
</div>
