/*
 SPDX-FileCopyrightText: the TeamDojo authors
 SPDX-License-Identifier: Apache-2.0
 */
@import 'bootstap/scss/functions';
@import 'bootstap/scss/variables';
@import '../../../../content/custom/scss/_colors';
@import '../../../../content/custom/scss/mixins';
@import '../skill-details/skill-details-rating/skill-details-rating';

// Issue #88
.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.teams-skills {
  h4 {
    color: $dojo-text-primary;
  }

  padding-right: 10px;

  .teams-skills-list {
    ::ng-deep .simplebar-scroll-content {
      padding-right: 1.94em !important;
      .simplebar-content {
        padding: 5px;
        overflow-x: hidden;
      }
    }
    .list-group-item {
      @include skill-list-entry();
      flex: 1 1 32%;
      border: none;
      margin-left: 5px;
      margin-right: 5px;
      hyphens: auto;
      overflow-wrap: anywhere;
      min-width: 2in;
    }
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, lg)) {
  .teams-skills {
    .teams-skills-list {
      height: calc(100vh - 276px);
    }
  }
}
