1,24c1,9
< <nav class="navbar navbar-dark navbar-expand-md jh-navbar">
<     <div class="jh-logo-container float-left">
<         <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse"
<            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
<            aria-label="Toggle navigation" (click)="toggleNavbar()">
<             <fa-icon icon="bars"></fa-icon>
<         </a>
<         <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
<             <span class="logo-img"></span>
<         </a>
<         <nav aria-label="breadcrumb">
<             <ol class="breadcrumb mb-0">
<                 <li class="breadcrumb-item"><a href="#">{{organizationName}}</a></li>
<                 <li class="breadcrumb-item" *ngFor='let breadcrumb of breadcrumbs' [ngClass]="{active: breadcrumb.active}">
<                     <a *ngIf="!breadcrumb.active" href="#{{breadcrumb.path}}">
<                         {{breadcrumb.text | truncateString: 20}}
<                     </a>
<                     <span *ngIf="breadcrumb.active">{{breadcrumb.text | truncateString: 20}}</span>
<                 </li>
<             </ol>
<         </nav>
<     </div>
<     <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed"
<          [ngSwitch]="isAuthenticated()">
---
> <nav class="navbar navbar-dark navbar-expand-md bg-dark">
>     <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
>         <span class="logo-img"></span>
>         <span jhiTranslate="global.title" class="navbar-title">Teamdojo</span> <span class="navbar-version">{{version}}</span>
>     </a>
>     <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
>         <fa-icon icon="bars"></fa-icon>
>     </a>
>     <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
26,32c11,15
<             <li ngbDropdown autoClose="outside" placement="bottom" (openChange)="notificationMenu.loadNotifications()"
<                 class="nav-item dropdown pointer">
<                 <a class="nav-link dropdown-toggle nav-info" ngbDropdownToggle href="javascript:void(0);"
<                    id="notificationnavBarDropdown">
<                     <span class="icon">
<                         <fa-icon icon="comment" class="fa-4 mr-1"></fa-icon>
<                         <span class="nav-info" dojoTranslate="teamdojoApp.global.menu.notification.main"></span>
---
>             <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
>                 <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
>                     <span>
>                         <fa-icon icon="home"></fa-icon>
>                         <span jhiTranslate="global.menu.home">Home</span>
35,67d17
<                 <ul class="dropdown-menu" ngbDropdownMenu>
<                     <jhi-notification-menu #notificationMenu></jhi-notification-menu>
<                 </ul>
<             </li>
<             <li class="nav-item" *ngIf="!selectedTeam">
<                 <a class="nav-link" (click)="selectTeam()">
<                      <span class="icon">
<                          <fa-icon icon="users" class="fa-2"></fa-icon>
<                          <span class="nav-info" dojoTranslate="teamdojoApp.global.menu.teams.select"></span>
<                      </span>
<                 </a>
< 
<             </li>
<             <li ngbDropdown class="nav-item dropdown pointer" *ngIf="selectedTeam">
<                 <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="teamDropdown">
<                     <div class="mr-1">
<                         <jhi-team-image [team]="selectedTeam" size="35px" imageSize="small"></jhi-team-image>
<                     </div>
<                     <span>{{selectedTeam.name}}</span>
<                 </a>
<                 <ul class="dropdown-menu" ngbDropdownMenu>
<                     <li>
<                         <a class="dropdown-item"
<                            [routerLink]="['/teams', selectedTeam.shortName]">
<                             <fa-icon icon="home"></fa-icon>
<                             <span dojoTranslate="teamdojoApp.global.menu.teams.home">Living Room</span>
<                         </a>
<                         <a class="dropdown-item" href="javascript:void(0);" (click)="selectTeam()">
<                             <fa-icon icon="users"></fa-icon>
<                             <span dojoTranslate="teamdojoApp.global.menu.teams.change">Change Team</span>
<                         </a>
<                     </li>
<                 </ul>
69d18
< 
71,72c20
<             <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active"
<                 [routerLinkActiveOptions]="{exact: true}">
---
>             <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
76c24
<                         <span dojoTranslate="teamdojoApp.global.menu.entities.main">
---
>                         <span jhiTranslate="global.menu.entities.main">
83c31
<                         <a class="dropdown-item" routerLink="dimension" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
---
>                         <a class="dropdown-item" routerLink="activity" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
85c33
<                             <span dojoTranslate="teamdojoApp.global.menu.entities.dimension">Dimension</span>
---
>                             <span jhiTranslate="global.menu.entities.activity">Activity</span>
89c37
<                         <a class="dropdown-item" routerLink="skill" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
---
>                         <a class="dropdown-item" routerLink="badge" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
91c39
<                             <span dojoTranslate="teamdojoApp.global.menu.entities.skill">Skill</span>
---
>                             <span jhiTranslate="global.menu.entities.badge">Badge</span>
95c43
<                         <a class="dropdown-item" routerLink="team" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
---
>                         <a class="dropdown-item" routerLink="badge-skill" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
97c45
<                             <span dojoTranslate="teamdojoApp.global.menu.entities.team">Team</span>
---
>                             <span jhiTranslate="global.menu.entities.badgeSkill">Badge Skill</span>
101c49
<                         <a class="dropdown-item" routerLink="team-skill" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
---
>                         <a class="dropdown-item" routerLink="comment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
103c51
<                             <span dojoTranslate="teamdojoApp.global.menu.entities.teamSkill">Team Skill</span>
---
>                             <span jhiTranslate="global.menu.entities.comment">Comment</span>
107c55
<                         <a class="dropdown-item" routerLink="level" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
---
>                         <a class="dropdown-item" routerLink="dimension" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
109c57
<                             <span dojoTranslate="teamdojoApp.global.menu.entities.level">Level</span>
---
>                             <span jhiTranslate="global.menu.entities.dimension">Dimension</span>
113c61
<                         <a class="dropdown-item" routerLink="badge" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
---
>                         <a class="dropdown-item" routerLink="image" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
115c63
<                             <span dojoTranslate="teamdojoApp.global.menu.entities.badge">Badge</span>
---
>                             <span jhiTranslate="global.menu.entities.image">Image</span>
119c67
<                         <a class="dropdown-item" routerLink="badge-skill" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
---
>                         <a class="dropdown-item" routerLink="level" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
121c69
<                             <span dojoTranslate="teamdojoApp.global.menu.entities.badgeSkill">Badge Skill</span>
---
>                             <span jhiTranslate="global.menu.entities.level">Level</span>
127c75
<                             <span dojoTranslate="teamdojoApp.global.menu.entities.levelSkill">Level Skill</span>
---
>                             <span jhiTranslate="global.menu.entities.levelSkill">Level Skill</span>
133c81
<                             <span dojoTranslate="teamdojoApp.global.menu.entities.organization">Organization</span>
---
>                             <span jhiTranslate="global.menu.entities.organization">Organization</span>
139c87
<                             <span dojoTranslate="teamdojoApp.global.menu.entities.report">Report</span>
---
>                             <span jhiTranslate="global.menu.entities.report">Report</span>
143c91
<                         <a class="dropdown-item" routerLink="comment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
---
>                         <a class="dropdown-item" routerLink="skill" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
145c93
<                             <span dojoTranslate="teamdojoApp.global.menu.entities.comment">Comment</span>
---
>                             <span jhiTranslate="global.menu.entities.skill">Skill</span>
149c97
<                         <a class="dropdown-item" routerLink="activity" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
---
>                         <a class="dropdown-item" routerLink="team" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
151c99
<                             <span dojoTranslate="teamdojoApp.global.menu.entities.activity">Activity</span>
---
>                             <span jhiTranslate="global.menu.entities.team">Team</span>
155c103
<                         <a class="dropdown-item" routerLink="image" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
---
>                         <a class="dropdown-item" routerLink="team-skill" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
157c105
<                             <span dojoTranslate="teamdojoApp.global.menu.entities.image">Image</span>
---
>                             <span jhiTranslate="global.menu.entities.teamSkill">Team Skill</span>
163c111
<                             <span dojoTranslate="teamdojoApp.global.menu.entities.training">Training</span>
---
>                             <span jhiTranslate="global.menu.entities.training">Training</span>
169,170c117
<             <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer"
<                 routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
---
>             <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
174c121
<                         <span dojoTranslate="teamdojoApp.global.menu.admin.main">Administration</span>
---
>                         <span jhiTranslate="global.menu.admin.main">Administration</span>
181c128
<                             <span dojoTranslate="teamdojoApp.global.menu.admin.userManagement">User management</span>
---
>                             <span jhiTranslate="global.menu.admin.userManagement">User management</span>
187c134
<                             <span dojoTranslate="teamdojoApp.global.menu.admin.tracker">User tracker</span>
---
>                             <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
193c140
<                             <span dojoTranslate="teamdojoApp.global.menu.admin.metrics">Metrics</span>
---
>                             <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
199c146
<                             <span dojoTranslate="teamdojoApp.global.menu.admin.health">Health</span>
---
>                             <span jhiTranslate="global.menu.admin.health">Health</span>
205c152
<                             <span dojoTranslate="teamdojoApp.global.menu.admin.configuration">Configuration</span>
---
>                             <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
211c158
<                             <span dojoTranslate="teamdojoApp.global.menu.admin.audits">Audits</span>
---
>                             <span jhiTranslate="global.menu.admin.audits">Audits</span>
217c164
<                             <span dojoTranslate="teamdojoApp.global.menu.admin.logs">Logs</span>
---
>                             <span jhiTranslate="global.menu.admin.logs">Logs</span>
223c170
<                             <span dojoTranslate="teamdojoApp.global.menu.admin.apidocs">API</span>
---
>                             <span jhiTranslate="global.menu.admin.apidocs">API</span>
230,233c177,181
<                 <a class="nav-link dropdown-toggle nav-info" ngbDropdownToggle href="javascript:void(0);"
<                    id="languagesnavBarDropdown">
<                     <span class="navbar-icon"><fa-icon icon="globe"></fa-icon></span>
<                     <span class="nav-info" dojoTranslate="teamdojoApp.global.menu.language"></span>
---
>                 <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
>                     <span>
>                         <fa-icon icon="flag"></fa-icon>
>                         <span jhiTranslate="global.menu.language">Language</span>
>                     </span>
235c183
<                 <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1" aria-labelledby="languagesnavBarDropdown">
---
>                 <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
237,238c185
<                         <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);"
<                            (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
---
>                         <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
242,243c189
<             <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active"
<                 *ngIf="isAuthenticated()" [routerLinkActiveOptions]="{exact: true}">
---
>             <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
247c193
<                     <span dojoTranslate="teamdojoApp.global.menu.account.main">
---
>                     <span jhiTranslate="global.menu.account.main">
259c205
<                             <span dojoTranslate="teamdojoApp.global.menu.account.settings">Settings</span>
---
>                             <span jhiTranslate="global.menu.account.settings">Settings</span>
265c211
<                             <span dojoTranslate="teamdojoApp.global.menu.account.password">Password</span>
---
>                             <span jhiTranslate="global.menu.account.password">Password</span>
271c217
<                             <span dojoTranslate="teamdojoApp.global.menu.account.sessions">Sessions</span>
---
>                             <span jhiTranslate="global.menu.account.sessions">Sessions</span>
277c223
<                             <span dojoTranslate="teamdojoApp.global.menu.account.logout">Sign out</span>
---
>                             <span jhiTranslate="global.menu.account.logout">Sign out</span>
283c229,235
<                             <span dojoTranslate="teamdojoApp.global.menu.account.login">Sign in</span>
---
>                             <span jhiTranslate="global.menu.account.login">Sign in</span>
>                         </a>
>                     </li>
>                     <li *ngSwitchCase="false">
>                         <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
>                             <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
>                             <span jhiTranslate="global.menu.account.register">Register</span>
