3c3
<         <span dojoTranslate="teamdojoApp.teamSkill.home.title">Team Skills</span>
---
>         <span jhiTranslate="teamdojoApp.teamSkill.home.title">Team Skills</span>
6c6
<             <span  dojoTranslate="teamdojoApp.teamSkill.home.createLabel">
---
>             <span  jhiTranslate="teamdojoApp.teamSkill.home.createLabel">
17,26c17,25
<                 <th jhiSortBy="id"><span dojoTranslate="teamdojoApp.global.field.id">ID</span> <span
<                     class="fa fa-sort"></span></th>
<             <th jhiSortBy="completedAt"><span dojoTranslate="teamdojoApp.teamSkill.completedAt">Completed At</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="verifiedAt"><span dojoTranslate="teamdojoApp.teamSkill.verifiedAt">Verified At</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="irrelevant"><span dojoTranslate="teamdojoApp.teamSkill.irrelevant">Irrelevant</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="note"><span dojoTranslate="teamdojoApp.teamSkill.note">Note</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="vote"><span dojoTranslate="teamdojoApp.teamSkill.vote">Vote</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="voters"><span dojoTranslate="teamdojoApp.teamSkill.voters">Voters</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="skillTitle"><span dojoTranslate="teamdojoApp.teamSkill.skill">Skill</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="teamName"><span dojoTranslate="teamdojoApp.teamSkill.team">Team</span> <span class="fa fa-sort"></span></th>
---
>             <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="completedAt"><span jhiTranslate="teamdojoApp.teamSkill.completedAt">Completed At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="verifiedAt"><span jhiTranslate="teamdojoApp.teamSkill.verifiedAt">Verified At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="irrelevant"><span jhiTranslate="teamdojoApp.teamSkill.irrelevant">Irrelevant</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="note"><span jhiTranslate="teamdojoApp.teamSkill.note">Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="vote"><span jhiTranslate="teamdojoApp.teamSkill.vote">Vote</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="voters"><span jhiTranslate="teamdojoApp.teamSkill.voters">Voters</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="skillTitle"><span jhiTranslate="teamdojoApp.teamSkill.skill">Skill</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="teamName"><span jhiTranslate="teamdojoApp.teamSkill.team">Team</span> <fa-icon [icon]="'sort'"></fa-icon></th>
55c54
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.view">View</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
61c60
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.edit">Edit</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
69c68
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.delete">Delete</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
