4c4
<             <h2><span dojoTranslate="teamdojoApp.teamSkill.detail.title">Team Skill</span> {{teamSkill.id}}</h2>
---
>             <h2><span jhiTranslate="teamdojoApp.teamSkill.detail.title">Team Skill</span> {{teamSkill.id}}</h2>
8c8
<                 <dt><span dojoTranslate="teamdojoApp.teamSkill.completedAt">Completed At</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.teamSkill.completedAt">Completed At</span></dt>
12c12
<                 <dt><span dojoTranslate="teamdojoApp.teamSkill.verifiedAt">Verified At</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.teamSkill.verifiedAt">Verified At</span></dt>
16c16
<                 <dt><span dojoTranslate="teamdojoApp.teamSkill.irrelevant">Irrelevant</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.teamSkill.irrelevant">Irrelevant</span></dt>
20c20
<                 <dt><span dojoTranslate="teamdojoApp.teamSkill.note">Note</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.teamSkill.note">Note</span></dt>
24c24
<                 <dt><span dojoTranslate="teamdojoApp.teamSkill.vote">Vote</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.teamSkill.vote">Vote</span></dt>
28c28,32
<                 <dt><span dojoTranslate="teamdojoApp.teamSkill.skill">Skill</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.teamSkill.voters">Voters</span></dt>
>                 <dd>
>                     <span>{{teamSkill.voters}}</span>
>                 </dd>
>                 <dt><span jhiTranslate="teamdojoApp.teamSkill.skill">Skill</span></dt>
34c38
<                 <dt><span dojoTranslate="teamdojoApp.teamSkill.team">Team</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.teamSkill.team">Team</span></dt>
45c49
<                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.back"> Back</span>
---
>                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
51c55
<                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.edit"> Edit</span>
---
>                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
