@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.background-image {
  background-size: cover;
  display: block;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  margin-top: 140px;
  position: fixed;
  z-index: -1;
  border-radius: 50%;
  >>> .avatar-image-wrapper {
    width: 40vh !important;
    height: 55vh !important;
  }

  >>> .team-image-wrapper {
    width: 50vh !important;
    height: 50vh !important;
  }

  >>> .status-meta {
    width: 50vh !important;
    height: 15vh !important;
  }

  >>> .teams-status-achievements {
    visibility: hidden;
  }
}
