4c4
<             <h2 dojoTranslate="teamdojoApp.badgeSkill.home.createOrEditLabel" id="jhi-badge-skill-heading">Create or edit a Badge Skill</h2>
---
>             <h2 id="jhi-badge-skill-heading" jhiTranslate="teamdojoApp.badgeSkill.home.createOrEditLabel">Create or edit a Badge Skill</h2>
8c8
<                     <label dojoTranslate="teamdojoApp.global.field.id" for="id">ID</label>
---
>                     <label for="id" jhiTranslate="global.field.id">ID</label>
14c14
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.badgeSkill.badge" for="field_badge">Badge</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.badgeSkill.badge" for="field_badge">Badge</label>
22c22
<                         [hidden]="!editForm.controls.badge?.errors?.required" dojoTranslate="entity.validation.required">
---
>                         [hidden]="!editForm.controls.badge?.errors?.required" jhiTranslate="entity.validation.required">
27c27
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.badgeSkill.skill" for="field_skill">Skill</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.badgeSkill.skill" for="field_skill">Skill</label>
35c35
<                         [hidden]="!editForm.controls.skill?.errors?.required" dojoTranslate="entity.validation.required">
---
>                         [hidden]="!editForm.controls.skill?.errors?.required" jhiTranslate="entity.validation.required">
42c42
<                     <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.cancel">Cancel</span>
---
>                     <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
45c45
<                     <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.save">Save</span>
---
>                     <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
