3c3
<         <span dojoTranslate="teamdojoApp.badgeSkill.home.title">Badge Skills</span>
---
>         <span jhiTranslate="teamdojoApp.badgeSkill.home.title">Badge Skills</span>
6c6
<             <span  dojoTranslate="teamdojoApp.badgeSkill.home.createLabel">
---
>             <span  jhiTranslate="teamdojoApp.badgeSkill.home.createLabel">
17,20c17,19
<                 <th jhiSortBy="id"><span dojoTranslate="teamdojoApp.global.field.id">ID</span> <span
<                     class="fa fa-sort"></span></th>
<             <th jhiSortBy="badgeName"><span dojoTranslate="teamdojoApp.badgeSkill.badge">Badge</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="skillTitle"><span dojoTranslate="teamdojoApp.badgeSkill.skill">Skill</span> <span class="fa fa-sort"></span></th>
---
>             <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="badgeName"><span jhiTranslate="teamdojoApp.badgeSkill.badge">Badge</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="skillTitle"><span jhiTranslate="teamdojoApp.badgeSkill.skill">Skill</span> <fa-icon [icon]="'sort'"></fa-icon></th>
43c42
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.view">View</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
49c48
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.edit">Edit</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
57c56
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.delete">Delete</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
