<div>
  <h2 id="page-heading" data-cy="ImageHeading">
    <span jhiTranslate="teamDojoApp.image.home.title">Images</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamDojoApp.image.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-image"
        [routerLink]="['/image/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamDojoApp.image.home.createLabel">Create a new Image</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="images?.length === 0">
    <span jhiTranslate="teamDojoApp.image.home.notFound">No Images found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="images && images.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.image.title">Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="small">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.image.small">Small</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="medium">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.image.medium">Medium</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="large">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.image.large">Large</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hash">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.image.hash">Hash</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.image.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.image.updatedAt">Updated At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let image of images; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/image', image.id, 'view']">{{ image.id }}</a>
          </td>
          <td>{{ image.title }}</td>
          <td>
            <a *ngIf="image.small" (click)="openFile(image.small, image.smallContentType)">
              <img [src]="'data:' + image.smallContentType + ';base64,' + image.small" style="max-height: 30px" alt="image image" />
            </a>
            <span *ngIf="image.small">{{ image.smallContentType }}, {{ byteSize(image.small) }}</span>
          </td>
          <td>
            <a *ngIf="image.medium" (click)="openFile(image.medium, image.mediumContentType)">
              <img [src]="'data:' + image.mediumContentType + ';base64,' + image.medium" style="max-height: 30px" alt="image image" />
            </a>
            <span *ngIf="image.medium">{{ image.mediumContentType }}, {{ byteSize(image.medium) }}</span>
          </td>
          <td>
            <a *ngIf="image.large" (click)="openFile(image.large, image.largeContentType)">
              <img [src]="'data:' + image.largeContentType + ';base64,' + image.large" style="max-height: 30px" alt="image image" />
            </a>
            <span *ngIf="image.large">{{ image.largeContentType }}, {{ byteSize(image.large) }}</span>
          </td>
          <td>{{ image.hash }}</td>
          <td>{{ image.createdAt | formatMediumDatetime }}</td>
          <td>{{ image.updatedAt | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/image', image.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/image', image.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(image)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
