<div>
  <h2 id="page-heading" data-cy="TeamHeading">
    <span jhiTranslate="teamDojoApp.team.home.title">Teams</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamDojoApp.team.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-team"
        [routerLink]="['/team/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamDojoApp.team.home.createLabel">Create a new Team</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="teams?.length === 0">
    <span jhiTranslate="teamDojoApp.team.home.notFound">No Teams found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="teams && teams.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.team.title">Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shortTitle">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.team.shortTitle">Short Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="slogan">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.team.slogan">Slogan</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contact">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.team.contact">Contact</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="expirationDate">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.team.expirationDate">Expiration Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="official">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.team.official">Official</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.team.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.team.updatedAt">Updated At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image.title">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.team.image">Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="group.title">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.team.group">Group</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let team of teams; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/team', team.id, 'view']">{{ team.id }}</a>
          </td>
          <td>{{ team.title }}</td>
          <td>{{ team.shortTitle }}</td>
          <td>{{ team.slogan }}</td>
          <td>{{ team.contact }}</td>
          <td>{{ team.expirationDate | formatMediumDatetime }}</td>
          <td>{{ team.official }}</td>
          <td>{{ team.createdAt | formatMediumDatetime }}</td>
          <td>{{ team.updatedAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="team.image">
              <a [routerLink]="['/image', team.image.id, 'view']">{{ team.image.title }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="team.group">
              <a [routerLink]="['/team-group', team.group.id, 'view']">{{ team.group.title }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/team', team.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/team', team.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(team)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
