<div>
  <h2 id="page-heading" data-cy="TeamSkillHeading">
    <span jhiTranslate="teamDojoApp.teamSkill.home.title">Team Skills</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamDojoApp.teamSkill.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-team-skill"
        [routerLink]="['/team-skill/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamDojoApp.teamSkill.home.createLabel">Create a new Team Skill</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="teamSkills?.length === 0">
    <span jhiTranslate="teamDojoApp.teamSkill.home.notFound">No Team Skills found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="teamSkills && teamSkills.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="completedAt">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.teamSkill.completedAt">Completed At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="verifiedAt">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.teamSkill.verifiedAt">Verified At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="irrelevant">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.teamSkill.irrelevant">Irrelevant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="skillStatus">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.teamSkill.skillStatus">Skill Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="note">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.teamSkill.note">Note</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vote">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.teamSkill.vote">Vote</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="voters">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.teamSkill.voters">Voters</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.teamSkill.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.teamSkill.updatedAt">Updated At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="skill.titleEN">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.teamSkill.skill">Skill</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="team.title">
            <div class="d-flex">
              <span jhiTranslate="teamDojoApp.teamSkill.team">Team</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let teamSkill of teamSkills; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/team-skill', teamSkill.id, 'view']">{{ teamSkill.id }}</a>
          </td>
          <td>{{ teamSkill.completedAt | formatMediumDatetime }}</td>
          <td>{{ teamSkill.verifiedAt | formatMediumDatetime }}</td>
          <td>{{ teamSkill.irrelevant }}</td>
          <td jhiTranslate="{{ 'teamDojoApp.SkillStatus.' + teamSkill.skillStatus }}">{{ teamSkill.skillStatus }}</td>
          <td>{{ teamSkill.note }}</td>
          <td>{{ teamSkill.vote }}</td>
          <td>{{ teamSkill.voters }}</td>
          <td>{{ teamSkill.createdAt | formatMediumDatetime }}</td>
          <td>{{ teamSkill.updatedAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="teamSkill.skill">
              <a [routerLink]="['/skill', teamSkill.skill.id, 'view']">{{ teamSkill.skill.titleEN }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="teamSkill.team">
              <a [routerLink]="['/team', teamSkill.team.id, 'view']">{{ teamSkill.team.title }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/team-skill', teamSkill.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/team-skill', teamSkill.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(teamSkill)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
