11c11
<         <h5 dojoTranslate="health.details.properties">Properties</h5>
---
>         <h5 jhiTranslate="health.details.properties">Properties</h5>
16,17c16,17
<                         <th class="text-left" dojoTranslate="health.details.name">Name</th>
<                         <th class="text-left" dojoTranslate="health.details.value">Value</th>
---
>                         <th class="text-left" jhiTranslate="health.details.name">Name</th>
>                         <th class="text-left" jhiTranslate="health.details.value">Value</th>
30c30
<         <h4 dojoTranslate="health.details.error">Error</h4>
---
>         <h4 jhiTranslate="health.details.error">Error</h4>
