/*
 SPDX-FileCopyrightText: the TeamDojo authors
 SPDX-License-Identifier: Apache-2.0
 */
@import 'bootstap/scss/functions';
@import 'bootstap/scss/variables';
@import '../../../../content/custom/scss/_colors';

.overviews-teams {
  height: inherit;
  .additional-functions {
    height: 75px;
    width: 100%;
  }

  .count-item-value {
    font-size: 1.8vh;
  }

  th,
  thead {
    border-top: none;
  }
  thead {
    border-bottom: 1px solid #e5e1d8;
  }

  .example-tree-invisible {
    display: none;
  }

  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  /*
   * This padding sets alignment of the nested nodes.
   */
  .example-tree .mat-nested-tree-node div[role='group'] {
    padding-left: 20px;
  }

  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role='group'] > .mat-tree-node {
    padding-left: 0px;
  }

  .team-list {
    background: rgba($dojo-bg-gradient-from, 0.5);
    &-header {
      &-title {
      }
      &-scores {
        width: 48%;
        //  color: $dojo-text-primary;
        img {
          width: 5vh;
          opacity: 0.5;
        }
        margin-right: 40px;
        .score {
          min-width: 5em;
        }
      }
      border-bottom: 1px solid #e5e1d8;
    }

    &-body {
      &-item {
        min-height: 70px;
        .team-rank {
          min-width: 2em;
        }
        .team-info {
          width: 48%;
          .team-name {
            a {
              color: $dojo-text-primary;
              word-break: break-word;
              font-size: 1rem;
            }
            .official-badge {
              font-size: 0.9rem;
              color: green;
              border: 1px solid green;
              border-radius: 3px;
              padding: 3px 4px 1px 4px;
              margin-left: 1rem;
            }
          }
        }
        .team-scores {
          width: 48%;
          .score {
            // color: $dojo-text-primary;
            min-width: 5em;
            text-align: center;
          }
        }
        .team-status {
          padding: 10px;
          width: 36px;
          margin-left: 15px;
          background-color: transparent;
        }
        &.complete {
          .team-status {
            background-color: #a8bc66;
          }
        }
        &.irrelevant {
          display: none !important;
        }
        &.incomplete {
          background-color: $gray-300;
          opacity: 0.4;
        }
      }
    }
    ::ng-deep .simplebar-track {
      bottom: 0.7em !important;
    }
    ::ng-deep .simplebar-scroll-content {
      padding-right: 1.9em !important;
      .simplebar-content {
        margin-right: -0.6em !important;
        padding-bottom: 3.1em !important;
        overflow-x: hidden;
      }
    }
    .team-selector {
      background-color: transparent;
      height: 2rem;
      padding: 0.2rem 0.75rem;
      margin-bottom: 0.5rem;
      border: 1px solid #ced4da;
      border-radius: 0.15rem;
      width: 130%;
    }
  }

  input#teams_search-term {
    background-color: #e8ddb7;
    width: 270px;
    margin: 5px;
  }

  ::-webkit-input-placeholder {
    font-style: italic;
  }

  :-moz-placeholder {
    font-style: italic;
  }

  ::-moz-placeholder {
    font-style: italic;
  }

  :-ms-input-placeholder {
    font-style: italic;
  }

  .expiration-date {
    font-size: 0.9rem;
    color: $dojo-nav-primary;
  }
}
@media only screen and (min-width: map-get($grid-breakpoints, lg)) {
  .overviews-teams {
    .team-list {
      height: calc(100vh - 242px);
      padding: 5px;
    }
  }
}
