<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-team-heading" data-cy="TeamCreateUpdateHeading" jhiTranslate="teamDojoApp.team.home.createOrEditLabel">
        Create or edit a Team
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="teamDojoApp.team.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('title')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 2 }"
            >
              This field is required to be at least 2 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('title')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="teamDojoApp.team.shortTitle" for="field_shortTitle">Short Title</label>
          <input
            type="text"
            class="form-control"
            name="shortTitle"
            id="field_shortTitle"
            data-cy="shortTitle"
            formControlName="shortTitle"
          />
          <div *ngIf="editForm.get('shortTitle')!.invalid && (editForm.get('shortTitle')!.dirty || editForm.get('shortTitle')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('shortTitle')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('shortTitle')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 2 }"
            >
              This field is required to be at least 2 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('shortTitle')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
            >
              This field cannot be longer than 20 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('shortTitle')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Short Title' }"
            >
              This field should follow pattern for "Short Title".
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="teamDojoApp.team.slogan" for="field_slogan">Slogan</label>
          <input type="text" class="form-control" name="slogan" id="field_slogan" data-cy="slogan" formControlName="slogan" />
          <div *ngIf="editForm.get('slogan')!.invalid && (editForm.get('slogan')!.dirty || editForm.get('slogan')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('slogan')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 255 }"
            >
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="teamDojoApp.team.contact" for="field_contact">Contact</label>
          <input type="text" class="form-control" name="contact" id="field_contact" data-cy="contact" formControlName="contact" />
          <div *ngIf="editForm.get('contact')!.invalid && (editForm.get('contact')!.dirty || editForm.get('contact')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('contact')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 255 }"
            >
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="teamDojoApp.team.validUntil" for="field_validUntil">Valid Until</label>
          <div class="d-flex">
            <input
              id="field_validUntil"
              data-cy="validUntil"
              type="datetime-local"
              class="form-control"
              name="validUntil"
              formControlName="validUntil"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="teamDojoApp.team.pureTrainingTeam" for="field_pureTrainingTeam"
            >Pure Training Team</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="pureTrainingTeam"
            id="field_pureTrainingTeam"
            data-cy="pureTrainingTeam"
            formControlName="pureTrainingTeam"
          />
          <div
            *ngIf="
              editForm.get('pureTrainingTeam')!.invalid &&
              (editForm.get('pureTrainingTeam')!.dirty || editForm.get('pureTrainingTeam')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pureTrainingTeam')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="teamDojoApp.team.official" for="field_official">Official</label>
          <input type="checkbox" class="form-check" name="official" id="field_official" data-cy="official" formControlName="official" />
          <div *ngIf="editForm.get('official')!.invalid && (editForm.get('official')!.dirty || editForm.get('official')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('official')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="teamDojoApp.team.createdAt" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('createdAt')!.invalid && (editForm.get('createdAt')!.dirty || editForm.get('createdAt')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdAt')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('createdAt')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="teamDojoApp.team.updatedAt" for="field_updatedAt">Updated At</label>
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('updatedAt')!.invalid && (editForm.get('updatedAt')!.dirty || editForm.get('updatedAt')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('updatedAt')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('updatedAt')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="teamDojoApp.team.daysUntilExpiration" for="field_daysUntilExpiration"
            >Days Until Expiration</label
          >
          <input
            type="number"
            class="form-control"
            name="daysUntilExpiration"
            id="field_daysUntilExpiration"
            data-cy="daysUntilExpiration"
            formControlName="daysUntilExpiration"
          />
          <div
            *ngIf="
              editForm.get('daysUntilExpiration')!.invalid &&
              (editForm.get('daysUntilExpiration')!.dirty || editForm.get('daysUntilExpiration')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('daysUntilExpiration')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('daysUntilExpiration')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="teamDojoApp.team.expired" for="field_expired">Expired</label>
          <input type="checkbox" class="form-check" name="expired" id="field_expired" data-cy="expired" formControlName="expired" />
          <div *ngIf="editForm.get('expired')!.invalid && (editForm.get('expired')!.dirty || editForm.get('expired')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('expired')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="teamDojoApp.team.image" for="field_image">Image</label>
          <select class="form-control" id="field_image" data-cy="image" name="image" formControlName="image">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="imageOption.id === editForm.get('image')!.value?.id ? editForm.get('image')!.value : imageOption"
              *ngFor="let imageOption of imagesSharedCollection; trackBy: trackImageById"
            >
              {{ imageOption.title }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="teamDojoApp.team.participations" for="field_participations">Participations</label>
          <select
            class="form-control"
            id="field_participations"
            data-cy="participations"
            multiple
            name="participations"
            formControlName="participations"
          >
            <option
              [ngValue]="getSelectedDimension(dimensionOption, editForm.get('participations')!.value)"
              *ngFor="let dimensionOption of dimensionsSharedCollection; trackBy: trackDimensionById"
            >
              {{ dimensionOption.title }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
