7c7
<             <h1 dojoTranslate="error.title">Error Page!</h1>
---
>             <h1 jhiTranslate="error.title">Error Page!</h1>
13c13
<             <div [hidden]="!error403" class="alert alert-danger" dojoTranslate="error.http.403">You are not authorized to access this page.
---
>             <div [hidden]="!error403" class="alert alert-danger" jhiTranslate="error.http.403">You are not authorized to access this page.
15c15
<             <div [hidden]="!error404" class="alert alert-danger" dojoTranslate="error.http.404">The page asked was not found.
---
>             <div [hidden]="!error404" class="alert alert-danger" jhiTranslate="error.http.404">The page asked was not found.
