4c4
<             <h2><span dojoTranslate="teamdojoApp.image.detail.title">Image</span> {{image.id}}</h2>
---
>             <h2><span jhiTranslate="teamdojoApp.image.detail.title">Image</span> {{image.id}}</h2>
8c8
<                 <dt><span dojoTranslate="teamdojoApp.image.name">Name</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.image.name">Name</span></dt>
12c12
<                 <dt><span dojoTranslate="teamdojoApp.image.small">Small</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.image.small">Small</span></dt>
21c21
<                 <dt><span dojoTranslate="teamdojoApp.image.medium">Medium</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.image.medium">Medium</span></dt>
30c30
<                 <dt><span dojoTranslate="teamdojoApp.image.large">Large</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.image.large">Large</span></dt>
39c39
<                 <dt><span dojoTranslate="teamdojoApp.image.hash">Hash</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.image.hash">Hash</span></dt>
48c48
<                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.back"> Back</span>
---
>                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
54c54
<                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.edit"> Edit</span>
---
>                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
