3c3
<         <span dojoTranslate="teamdojoApp.image.home.title">Images</span>
---
>         <span jhiTranslate="teamdojoApp.image.home.title">Images</span>
6c6
<             <span  dojoTranslate="teamdojoApp.image.home.createLabel">
---
>             <span  jhiTranslate="teamdojoApp.image.home.createLabel">
17,22c17,22
<             <th jhiSortBy="id"><span dojoTranslate="teamdojoApp.global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="name"><span dojoTranslate="teamdojoApp.image.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="small"><span dojoTranslate="teamdojoApp.image.small">Small</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="medium"><span dojoTranslate="teamdojoApp.image.medium">Medium</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="large"><span dojoTranslate="teamdojoApp.image.large">Large</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="hash"><span dojoTranslate="teamdojoApp.image.hash">Hash</span> <fa-icon [icon]="'sort'"></fa-icon></th>
---
>             <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="name"><span jhiTranslate="teamdojoApp.image.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="small"><span jhiTranslate="teamdojoApp.image.small">Small</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="medium"><span jhiTranslate="teamdojoApp.image.medium">Medium</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="large"><span jhiTranslate="teamdojoApp.image.large">Large</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="hash"><span jhiTranslate="teamdojoApp.image.hash">Hash</span> <fa-icon [icon]="'sort'"></fa-icon></th>
26,27c26
<             <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
<                    [infiniteScrollDistance]="0">
---
>             <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
48a48
>                 <td>{{image.hash}}</td>
55c55
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.view">View</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
61c61
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.edit">Edit</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
69c69
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.delete">Delete</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
