3c3
<         <span dojoTranslate="teamdojoApp.badge.home.title">Badges</span>
---
>         <span jhiTranslate="teamdojoApp.badge.home.title">Badges</span>
6c6
<             <span  dojoTranslate="teamdojoApp.badge.home.createLabel">
---
>             <span  jhiTranslate="teamdojoApp.badge.home.createLabel">
17,26c17,25
<                 <th jhiSortBy="id"><span dojoTranslate="teamdojoApp.global.field.id">ID</span> <span
<                     class="fa fa-sort"></span></th>
<             <th jhiSortBy="name"><span dojoTranslate="teamdojoApp.badge.name">Name</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="description"><span dojoTranslate="teamdojoApp.badge.description">Description</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="availableUntil"><span dojoTranslate="teamdojoApp.badge.availableUntil">Available Until</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="availableAmount"><span dojoTranslate="teamdojoApp.badge.availableAmount">Available Amount</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="requiredScore"><span dojoTranslate="teamdojoApp.badge.requiredScore">Required Score</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="instantMultiplier"><span dojoTranslate="teamdojoApp.badge.instantMultiplier">Instant Multiplier</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="completionBonus"><span dojoTranslate="teamdojoApp.badge.completionBonus">Completion Bonus</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="imageName"><span dojoTranslate="teamdojoApp.badge.image">Image</span> <span class="fa fa-sort"></span></th>
---
>             <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="name"><span jhiTranslate="teamdojoApp.badge.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="description"><span jhiTranslate="teamdojoApp.badge.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="availableUntil"><span jhiTranslate="teamdojoApp.badge.availableUntil">Available Until</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="availableAmount"><span jhiTranslate="teamdojoApp.badge.availableAmount">Available Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="requiredScore"><span jhiTranslate="teamdojoApp.badge.requiredScore">Required Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="instantMultiplier"><span jhiTranslate="teamdojoApp.badge.instantMultiplier">Instant Multiplier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="completionBonus"><span jhiTranslate="teamdojoApp.badge.completionBonus">Completion Bonus</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="imageName"><span jhiTranslate="teamdojoApp.badge.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
51c50
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.view">View</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
57c56
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.edit">Edit</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
65c64
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.delete">Delete</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
