4c4
<             <h2 dojoTranslate="teamdojoApp.badge.home.createOrEditLabel" id="jhi-badge-heading">Create or edit a Badge</h2>
---
>             <h2 id="jhi-badge-heading" jhiTranslate="teamdojoApp.badge.home.createOrEditLabel">Create or edit a Badge</h2>
8c8
<                     <label dojoTranslate="teamdojoApp.global.field.id" for="id">ID</label>
---
>                     <label for="id" jhiTranslate="global.field.id">ID</label>
13c13
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.badge.name" for="field_name">Name</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.badge.name" for="field_name">Name</label>
18c18
<                         [hidden]="!editForm.controls.name?.errors?.required" dojoTranslate="entity.validation.required">
---
>                         [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
22,23c22
<                                [hidden]="!editForm.controls.name?.errors?.minlength"
<                                [translateValues]="{ min: 2 }" dojoTranslate="entity.validation.minlength">
---
>                         [hidden]="!editForm.controls.name?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
27,28c26
<                                [hidden]="!editForm.controls.name?.errors?.maxlength"
<                                [translateValues]="{ max: 20 }" dojoTranslate="entity.validation.maxlength">
---
>                         [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
34c32
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.badge.description" for="field_description">Description</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.badge.description" for="field_description">Description</label>
39c37
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.badge.availableUntil" for="field_availableUntil">Available Until</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.badge.availableUntil" for="field_availableUntil">Available Until</label>
41c39
<                         <input id="field_availableUntil" type="datetime-local" class="form-control" name="availableUntil" [(ngModel)]="availableUntil"
---
>                         <input id="field_availableUntil" type="datetime-local" class="form-control" name="availableUntil" [(ngModel)]="availableUntil" placeholder="YYYY-MM-DD HH:mm"
46c44
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.badge.availableAmount" for="field_availableAmount">Available Amount</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.badge.availableAmount" for="field_availableAmount">Available Amount</label>
51,52c49
<                                [hidden]="!editForm.controls.availableAmount?.errors?.min"
<                                [translateValues]="{ min: 1 }" dojoTranslate="entity.validation.min">
---
>                             [hidden]="!editForm.controls.availableAmount?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
56c53
<                             [hidden]="!editForm.controls.availableAmount?.errors?.number" dojoTranslate="entity.validation.number">
---
>                             [hidden]="!editForm.controls.availableAmount?.errors?.number" jhiTranslate="entity.validation.number">
62c59
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.badge.requiredScore" for="field_requiredScore">Required Score</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.badge.requiredScore" for="field_requiredScore">Required Score</label>
67c64
<                         [hidden]="!editForm.controls.requiredScore?.errors?.required" dojoTranslate="entity.validation.required">
---
>                         [hidden]="!editForm.controls.requiredScore?.errors?.required" jhiTranslate="entity.validation.required">
71,72c68
<                                [hidden]="!editForm.controls.requiredScore?.errors?.min"
<                                [translateValues]="{ min: 0 }" dojoTranslate="entity.validation.min">
---
>                             [hidden]="!editForm.controls.requiredScore?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
76,77c72
<                                [hidden]="!editForm.controls.requiredScore?.errors?.max"
<                                [translateValues]="{ max: 1 }" dojoTranslate="entity.validation.max">
---
>                             [hidden]="!editForm.controls.requiredScore?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 1 }">
81c76
<                             [hidden]="!editForm.controls.requiredScore?.errors?.number" dojoTranslate="entity.validation.number">
---
>                             [hidden]="!editForm.controls.requiredScore?.errors?.number" jhiTranslate="entity.validation.number">
87c82
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.badge.instantMultiplier" for="field_instantMultiplier">Instant Multiplier</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.badge.instantMultiplier" for="field_instantMultiplier">Instant Multiplier</label>
92c87
<                         [hidden]="!editForm.controls.instantMultiplier?.errors?.required" dojoTranslate="entity.validation.required">
---
>                         [hidden]="!editForm.controls.instantMultiplier?.errors?.required" jhiTranslate="entity.validation.required">
96,97c91
<                                [hidden]="!editForm.controls.instantMultiplier?.errors?.min"
<                                [translateValues]="{ min: 0 }" dojoTranslate="entity.validation.min">
---
>                             [hidden]="!editForm.controls.instantMultiplier?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
101c95
<                             [hidden]="!editForm.controls.instantMultiplier?.errors?.number" dojoTranslate="entity.validation.number">
---
>                             [hidden]="!editForm.controls.instantMultiplier?.errors?.number" jhiTranslate="entity.validation.number">
107c101
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.badge.completionBonus" for="field_completionBonus">Completion Bonus</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.badge.completionBonus" for="field_completionBonus">Completion Bonus</label>
112,113c106
<                                [hidden]="!editForm.controls.completionBonus?.errors?.min"
<                                [translateValues]="{ min: 0 }" dojoTranslate="entity.validation.min">
---
>                             [hidden]="!editForm.controls.completionBonus?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
117c110
<                             [hidden]="!editForm.controls.completionBonus?.errors?.number" dojoTranslate="entity.validation.number">
---
>                             [hidden]="!editForm.controls.completionBonus?.errors?.number" jhiTranslate="entity.validation.number">
124,130c117
<                     <label dojoTranslate="teamdojoApp.badge.dimensions" for="field_dimensions">Dimensions</label>
<                     <select class="form-control" id="field_dimensions" multiple name="dimensions" [(ngModel)]="badge.dimensions">
<                         <option [ngValue]="getSelected(badge.dimensions, dimensionOption)" *ngFor="let dimensionOption of dimensions; trackBy: trackDimensionById">{{dimensionOption.name}}</option>
<                     </select>
<                 </div>
<                 <div class="form-group">
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.badge.image" for="field_image">Image</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.badge.image" for="field_image">Image</label>
135a123,128
>                 <div class="form-group">
>                     <label jhiTranslate="teamdojoApp.badge.dimensions" for="field_dimensions">Dimensions</label>
>                     <select class="form-control" id="field_dimensions" multiple name="dimensions" [(ngModel)]="badge.dimensions">
>                         <option [ngValue]="getSelected(badge.dimensions, dimensionOption)" *ngFor="let dimensionOption of dimensions; trackBy: trackDimensionById">{{dimensionOption.name}}</option>
>                     </select>
>                 </div>
139c132
<                     <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.cancel">Cancel</span>
---
>                     <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
142c135
<                     <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.save">Save</span>
---
>                     <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
