3c3
<         <span dojoTranslate="teamdojoApp.dimension.home.title">Dimensions</span>
---
>         <span jhiTranslate="teamdojoApp.dimension.home.title">Dimensions</span>
6c6
<             <span  dojoTranslate="teamdojoApp.dimension.home.createLabel">
---
>             <span  jhiTranslate="teamdojoApp.dimension.home.createLabel">
17,20c17,19
<                 <th jhiSortBy="id"><span dojoTranslate="teamdojoApp.global.field.id">ID</span> <span
<                     class="fa fa-sort"></span></th>
<             <th jhiSortBy="name"><span dojoTranslate="teamdojoApp.dimension.name">Name</span> <span class="fa fa-sort"></span></th>
<             <th jhiSortBy="description"><span dojoTranslate="teamdojoApp.dimension.description">Description</span> <span class="fa fa-sort"></span></th>
---
>             <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="name"><span jhiTranslate="teamdojoApp.dimension.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="description"><span jhiTranslate="teamdojoApp.dimension.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
35c34
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.view">View</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
41c40
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.edit">Edit</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
49c48
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.delete">Delete</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
