4c4
<             <h2><span dojoTranslate="teamdojoApp.dimension.detail.title">Dimension</span> {{dimension.id}}</h2>
---
>             <h2><span jhiTranslate="teamdojoApp.dimension.detail.title">Dimension</span> {{dimension.id}}</h2>
8c8
<                 <dt><span dojoTranslate="teamdojoApp.dimension.name">Name</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.dimension.name">Name</span></dt>
12c12
<                 <dt><span dojoTranslate="teamdojoApp.dimension.description">Description</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.dimension.description">Description</span></dt>
21c21
<                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.back"> Back</span>
---
>                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
27c27
<                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.edit"> Edit</span>
---
>                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
