3c3
<         <span dojoTranslate="teamdojoApp.training.home.title">Trainings</span>
---
>         <span jhiTranslate="teamdojoApp.training.home.title">Trainings</span>
6c6
<             <span  dojoTranslate="teamdojoApp.training.home.createLabel">
---
>             <span  jhiTranslate="teamdojoApp.training.home.createLabel">
17,24c17,24
<             <th jhiSortBy="id"><span dojoTranslate="teamdojoApp.global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="title"><span dojoTranslate="teamdojoApp.training.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="description"><span dojoTranslate="teamdojoApp.training.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="contactPerson"><span dojoTranslate="teamdojoApp.training.contactPerson">Contact Person</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="link"><span dojoTranslate="teamdojoApp.training.link">Link</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="validUntil"><span dojoTranslate="teamdojoApp.training.validUntil">Valid Until</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="isOfficial"><span dojoTranslate="teamdojoApp.training.isOfficial">Is Official</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="suggestedBy"><span dojoTranslate="teamdojoApp.training.suggestedBy">Suggested By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
---
>             <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="title"><span jhiTranslate="teamdojoApp.training.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="description"><span jhiTranslate="teamdojoApp.training.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="contactPerson"><span jhiTranslate="teamdojoApp.training.contactPerson">Contact Person</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="link"><span jhiTranslate="teamdojoApp.training.link">Link</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="validUntil"><span jhiTranslate="teamdojoApp.training.validUntil">Valid Until</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="isOfficial"><span jhiTranslate="teamdojoApp.training.isOfficial">Is Official</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="suggestedBy"><span jhiTranslate="teamdojoApp.training.suggestedBy">Suggested By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
44c44
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.view">View</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
50c50
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.edit">Edit</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
58c58
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.delete">Delete</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
