4c4
<             <h2 dojoTranslate="teamdojoApp.training.home.createOrEditLabel" id="jhi-training-heading">Create or edit a Training</h2>
---
>             <h2 id="jhi-training-heading" jhiTranslate="teamdojoApp.training.home.createOrEditLabel">Create or edit a Training</h2>
8c8
<                     <label dojoTranslate="teamdojoApp.global.field.id" for="id">ID</label>
---
>                     <label for="id" jhiTranslate="global.field.id">ID</label>
13c13
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.training.title" for="field_title">Title</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.training.title" for="field_title">Title</label>
18c18
<                         [hidden]="!editForm.controls.title?.errors?.required" dojoTranslate="entity.validation.required">
---
>                         [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
22,23c22
<                                [hidden]="!editForm.controls.title?.errors?.maxlength"
<                                [translateValues]="{ max: 80 }" dojoTranslate="entity.validation.maxlength">
---
>                         [hidden]="!editForm.controls.title?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 80 }">
29c28
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.training.description" for="field_description">Description</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.training.description" for="field_description">Description</label>
34,35c33
<                                [hidden]="!editForm.controls.description?.errors?.maxlength"
<                                [translateValues]="{ max: 100 }" dojoTranslate="entity.validation.maxlength">
---
>                         [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
41c39
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.training.contactPerson" for="field_contactPerson">Contact Person</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.training.contactPerson" for="field_contactPerson">Contact Person</label>
46,47c44
<                                [hidden]="!editForm.controls.contactPerson?.errors?.maxlength"
<                                [translateValues]="{ max: 255 }" dojoTranslate="entity.validation.maxlength">
---
>                         [hidden]="!editForm.controls.contactPerson?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
53c50
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.training.link" for="field_link">Link</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.training.link" for="field_link">Link</label>
55c52
<                         [(ngModel)]="training.link" maxlength="255" pattern="^(?:http(s)?://)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#\[\]@!\$&'\(\)\*\+,;=.]+$"/>
---
>                         [(ngModel)]="training.link" maxlength="255"/>
58,59c55
<                                [hidden]="!editForm.controls.link?.errors?.maxlength"
<                                [translateValues]="{ max: 255 }" dojoTranslate="entity.validation.maxlength">
---
>                         [hidden]="!editForm.controls.link?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
62,71d57
<                         <small class="form-text text-danger"
<                                [hidden]="!editForm.controls.link?.errors?.pattern"
<                                [translateValues]="{ pattern: 'Link' }" dojoTranslate="entity.validation.pattern">
<                             This field should follow pattern for "Link".
<                         </small>
<                         <small class="form-text text-danger"
<                                [hidden]="!editForm.controls.link?.errors?.pattern" dojoTranslate="entity.validation.expectedPattern"
<                                [translateValues]="{ regex: '/^(?:http(s)?:\/\/)?[\\w.-]+(?:\\.[\\w\\.-]+)+[\\w\\-\\._~:\/?#\\[\\]@!\\$&\'\\(\\)\\*\\+,;=.]+$/' }">
<                             The expected pattern is /^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:\/?#\[\]@!\$&\'\(\)\*\+,;=.]+$/.
<                         </small>
75c61
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.training.validUntil" for="field_validUntil">Valid Until</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.training.validUntil" for="field_validUntil">Valid Until</label>
77,78c63,64
<                         <input id="field_validUntil" type="datetime-local" class="form-control" name="validUntil" [(ngModel)]="validUntil"
<                                [placeholder]="'teamdojoApp.training.validUntilPlaceholder' | translate"/>
---
>                         <input id="field_validUntil" type="datetime-local" class="form-control" name="validUntil" [(ngModel)]="validUntil" placeholder="YYYY-MM-DD HH:mm"
>                         />
82c68
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.training.isOfficial" for="field_isOfficial">Is Official</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.training.isOfficial" for="field_isOfficial">Is Official</label>
87c73
<                         [hidden]="!editForm.controls.isOfficial?.errors?.required" dojoTranslate="entity.validation.required">
---
>                         [hidden]="!editForm.controls.isOfficial?.errors?.required" jhiTranslate="entity.validation.required">
93c79
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.training.suggestedBy" for="field_suggestedBy">Suggested By</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.training.suggestedBy" for="field_suggestedBy">Suggested By</label>
99c85
<                     <label dojoTranslate="teamdojoApp.training.skill" for="field_skill">Skill</label>
---
>                     <label jhiTranslate="teamdojoApp.training.skill" for="field_skill">Skill</label>
107c93
<                     <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.cancel">Cancel</span>
---
>                     <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
110c96
<                     <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.save">Save</span>
---
>                     <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
