5c5
<                 <span dojoTranslate="userManagement.detail.title">User</span> [<b>{{user.login}}</b>]
---
>                 <span jhiTranslate="userManagement.detail.title">User</span> [<b>{{user.login}}</b>]
8c8
<                 <dt><span dojoTranslate="userManagement.login">Login</span></dt>
---
>                 <dt><span jhiTranslate="userManagement.login">Login</span></dt>
17c17
<                 <dt><span dojoTranslate="userManagement.firstName">First Name</span></dt>
---
>                 <dt><span jhiTranslate="userManagement.firstName">First Name</span></dt>
19c19
<                 <dt><span dojoTranslate="userManagement.lastName">Last Name</span></dt>
---
>                 <dt><span jhiTranslate="userManagement.lastName">Last Name</span></dt>
21c21
<                 <dt><span dojoTranslate="userManagement.email">Email</span></dt>
---
>                 <dt><span jhiTranslate="userManagement.email">Email</span></dt>
23c23
<                 <dt><span dojoTranslate="userManagement.langKey">Lang Key</span></dt>
---
>                 <dt><span jhiTranslate="userManagement.langKey">Lang Key</span></dt>
25c25
<                 <dt><span dojoTranslate="userManagement.createdBy">Created By</span></dt>
---
>                 <dt><span jhiTranslate="userManagement.createdBy">Created By</span></dt>
27c27
<                 <dt><span dojoTranslate="userManagement.createdDate">Created Date</span></dt>
---
>                 <dt><span jhiTranslate="userManagement.createdDate">Created Date</span></dt>
29c29
<                 <dt><span dojoTranslate="userManagement.lastModifiedBy">Last Modified By</span></dt>
---
>                 <dt><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span></dt>
31c31
<                 <dt><span dojoTranslate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
---
>                 <dt><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
33c33
<                 <dt><span dojoTranslate="userManagement.profiles">Profiles</span></dt>
---
>                 <dt><span jhiTranslate="userManagement.profiles">Profiles</span></dt>
45c45
<                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.back"> Back</span>
---
>                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
