3c3
<         <span dojoTranslate="userManagement.home.title" id="user-management-page-heading">Users</span>
---
>         <span id="user-management-page-heading" jhiTranslate="userManagement.home.title">Users</span>
5c5
<             <fa-icon [icon]="'plus'"></fa-icon> <span dojoTranslate="userManagement.home.createLabel">Create a new User</span>
---
>             <fa-icon [icon]="'plus'"></fa-icon> <span jhiTranslate="userManagement.home.createLabel">Create a new User</span>
13,16c13,15
<                 <th jhiSortBy="id"><span dojoTranslate="teamdojoApp.global.field.id">ID</span> <span
<                     class="fa fa-sort"></span></th>
<                 <th jhiSortBy="login"><span dojoTranslate="userManagement.login">Login</span> <span class="fa fa-sort"></span></th>
<                 <th jhiSortBy="email"><span dojoTranslate="userManagement.email">Email</span> <span class="fa fa-sort"></span></th>
---
>                 <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>                 <th jhiSortBy="login"><span jhiTranslate="userManagement.login">Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>                 <th jhiSortBy="email"><span jhiTranslate="userManagement.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
18,22c17,21
<                 <th jhiSortBy="langKey"> <span dojoTranslate="userManagement.langKey">Lang Key</span> <span class="fa fa-sort"></span></th>
<                 <th><span dojoTranslate="userManagement.profiles">Profiles</span></th>
<                 <th jhiSortBy="createdDate"><span dojoTranslate="userManagement.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
<                 <th jhiSortBy="lastModifiedBy"><span dojoTranslate="userManagement.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th>
<                 <th jhiSortBy="lastModifiedDate"><span dojoTranslate="userManagement.lastModifiedDate">Last Modified Date</span> <span class="fa fa-sort"></span></th>
---
>                 <th jhiSortBy="langKey"> <span jhiTranslate="userManagement.langKey">Lang Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>                 <th><span jhiTranslate="userManagement.profiles">Profiles</span></th>
>                 <th jhiSortBy="createdDate"><span jhiTranslate="userManagement.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>                 <th jhiSortBy="lastModifiedBy"><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>                 <th jhiSortBy="lastModifiedDate"><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
33c32
<                             dojoTranslate="userManagement.deactivated">Deactivated</button>
---
>                             jhiTranslate="userManagement.deactivated">Deactivated</button>
35c34
<                             [disabled]="currentAccount.login === user.login" dojoTranslate="userManagement.activated">Activated</button>
---
>                             [disabled]="currentAccount.login === user.login" jhiTranslate="userManagement.activated">Activated</button>
52c51
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.view">View</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
59c58
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.edit">Edit</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
64c63
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.delete">Delete</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
