<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-badge-skill-heading" data-cy="BadgeSkillCreateUpdateHeading" jhiTranslate="teamDojoApp.badgeSkill.home.createOrEditLabel">
        Create or edit a Badge Skill
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="teamDojoApp.badgeSkill.badge" for="field_badge">Badge</label>
          <select class="form-control" id="field_badge" data-cy="badge" name="badge" formControlName="badge" [compareWith]="compareBadge">
            <option *ngIf="editForm.get(['badge'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="badgeOption" *ngFor="let badgeOption of badgesSharedCollection">{{ badgeOption.titleEN }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['badge'])!.invalid && (editForm.get(['badge'])!.dirty || editForm.get(['badge'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['badge'])?.errors?.required" jhiTranslate="entity.validation.required"
            >This field is required.</small
          >
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="teamDojoApp.badgeSkill.skill" for="field_skill">Skill</label>
          <select class="form-control" id="field_skill" data-cy="skill" name="skill" formControlName="skill" [compareWith]="compareSkill">
            <option *ngIf="editForm.get(['skill'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="skillOption" *ngFor="let skillOption of skillsSharedCollection">{{ skillOption.titleEN }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['skill'])!.invalid && (editForm.get(['skill'])!.dirty || editForm.get(['skill'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['skill'])?.errors?.required" jhiTranslate="entity.validation.required"
            >This field is required.</small
          >
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
