<li class="nav-item" *ngIf="!selectedTeam">
  <a class="nav-link" (click)="selectTeam()">
    <span class="icon">
      <fa-icon icon="users" class="fa"></fa-icon>
      <span class="nav-info" jhiTranslate="teamDojoApp.customGlobal.menu.teams.select"></span>
    </span>
  </a>
</li>
<li ngbDropdown class="nav-item dropdown pointer" *ngIf="selectedTeam">
  <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="teamDropdown">
    <div class="me-1">
      <jhi-team-image [team]="selectedTeam" size="35px" imageSize="small"></jhi-team-image>
    </div>
    <span>{{ selectedTeam.title }}</span>
  </a>
  <ul class="dropdown-menu" ngbDropdownMenu>
    <li>
      <a class="dropdown-item" [routerLink]="['/teams', selectedTeam.shortTitle]">
        <fa-icon icon="home"></fa-icon>
        <span jhiTranslate="teamDojoApp.customGlobal.menu.teams.home">Living Room</span>
      </a>
      <a class="dropdown-item" href="javascript:void(0);" (click)="selectTeam()">
        <fa-icon icon="users"></fa-icon>
        <span jhiTranslate="teamDojoApp.customGlobal.menu.teams.change">Change Team</span>
      </a>
    </li>
  </ul>
</li>
