4c4
<             <h1 dojoTranslate="activate.title">Activation</h1>
---
>             <h1 jhiTranslate="activate.title">Activation</h1>
7,9c7,8
<                 <span dojoTranslate="activate.messages.success"><strong>Your user account has been activated.</strong> Please </span>
<                 <a class="alert-link" (click)="login()"
<                    dojoTranslate="teamdojoApp.global.messages.info.authenticated.link">sign in</a>.
---
>                 <span jhiTranslate="activate.messages.success"><strong>Your user account has been activated.</strong> Please </span>
>                 <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>.
12c11
<             <div *ngIf="error" class="alert alert-danger" dojoTranslate="activate.messages.error">
---
>             <div class="alert alert-danger" *ngIf="error" jhiTranslate="activate.messages.error">
