3c3
<         <span dojoTranslate="teamdojoApp.level.home.title">Levels</span>
---
>         <span jhiTranslate="teamdojoApp.level.home.title">Levels</span>
6c6
<             <span  dojoTranslate="teamdojoApp.level.home.createLabel">
---
>             <span  jhiTranslate="teamdojoApp.level.home.createLabel">
17,35c17,25
<                 <th jhiSortBy="id"><span dojoTranslate="teamdojoApp.global.field.id">ID</span> <span
<                     class="fa fa-sort"></span></th>
<                 <th jhiSortBy="name"><span dojoTranslate="teamdojoApp.level.name">Name</span> <span
<                     class="fa fa-sort"></span></th>
<                 <th jhiSortBy="description"><span dojoTranslate="teamdojoApp.level.description">Description</span> <span
<                     class="fa fa-sort"></span></th>
<                 <th jhiSortBy="requiredScore"><span dojoTranslate="teamdojoApp.level.requiredScore">Required Score</span>
<                     <span class="fa fa-sort"></span></th>
<                 <th jhiSortBy="instantMultiplier"><span dojoTranslate="teamdojoApp.level.instantMultiplier">Instant Multiplier</span>
<                     <span class="fa fa-sort"></span></th>
<                 <th jhiSortBy="completionBonus"><span
<                     dojoTranslate="teamdojoApp.level.completionBonus">Completion Bonus</span> <span
<                     class="fa fa-sort"></span></th>
<                 <th jhiSortBy="dimensionName"><span dojoTranslate="teamdojoApp.level.dimension">Dimension</span> <span
<                     class="fa fa-sort"></span></th>
<                 <th jhiSortBy="dependsOnName"><span dojoTranslate="teamdojoApp.level.dependsOn">Depends On</span> <span
<                     class="fa fa-sort"></span></th>
<                 <th jhiSortBy="imageName"><span dojoTranslate="teamdojoApp.level.image">Image</span> <span
<                     class="fa fa-sort"></span></th>
---
>             <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="name"><span jhiTranslate="teamdojoApp.level.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="description"><span jhiTranslate="teamdojoApp.level.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="requiredScore"><span jhiTranslate="teamdojoApp.level.requiredScore">Required Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="instantMultiplier"><span jhiTranslate="teamdojoApp.level.instantMultiplier">Instant Multiplier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="completionBonus"><span jhiTranslate="teamdojoApp.level.completionBonus">Completion Bonus</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="dependsOnName"><span jhiTranslate="teamdojoApp.level.dependsOn">Depends On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="imageName"><span jhiTranslate="teamdojoApp.level.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="dimensionName"><span jhiTranslate="teamdojoApp.level.dimension">Dimension</span> <fa-icon [icon]="'sort'"></fa-icon></th>
39,40c29
<             <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
<                    [infiniteScrollDistance]="0">
---
>             <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
49,53d37
<                     <div *ngIf="level.dimensionId">
<                         <a [routerLink]="['../dimension', level.dimensionId , 'view' ]" >{{level.dimensionName}}</a>
<                     </div>
<                 </td>
<                 <td>
62a47,51
>                 <td>
>                     <div *ngIf="level.dimensionId">
>                         <a [routerLink]="['../dimension', level.dimensionId , 'view' ]" >{{level.dimensionName}}</a>
>                     </div>
>                 </td>
69c58
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.view">View</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
75c64
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.edit">Edit</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
83c72
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.delete">Delete</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
