4c4
<             <h2><span dojoTranslate="teamdojoApp.level.detail.title">Level</span> {{level.id}}</h2>
---
>             <h2><span jhiTranslate="teamdojoApp.level.detail.title">Level</span> {{level.id}}</h2>
8c8
<                 <dt><span dojoTranslate="teamdojoApp.level.name">Name</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.level.name">Name</span></dt>
12c12
<                 <dt><span dojoTranslate="teamdojoApp.level.description">Description</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.level.description">Description</span></dt>
16c16
<                 <dt><span dojoTranslate="teamdojoApp.level.requiredScore">Required Score</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.level.requiredScore">Required Score</span></dt>
20c20
<                 <dt><span dojoTranslate="teamdojoApp.level.instantMultiplier">Instant Multiplier</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.level.instantMultiplier">Instant Multiplier</span></dt>
24c24
<                 <dt><span dojoTranslate="teamdojoApp.level.completionBonus">Completion Bonus</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.level.completionBonus">Completion Bonus</span></dt>
28,34c28
<                 <dt><span dojoTranslate="teamdojoApp.level.dimension">Dimension</span></dt>
<                 <dd>
<                     <div *ngIf="level.dimensionId">
<                         <a [routerLink]="['/dimension', level.dimensionId, 'view']">{{level.dimensionName}}</a>
<                     </div>
<                 </dd>
<                 <dt><span dojoTranslate="teamdojoApp.level.dependsOn">Depends On</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.level.dependsOn">Depends On</span></dt>
40c34
<                 <dt><span dojoTranslate="teamdojoApp.level.image">Image</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.level.image">Image</span></dt>
45a40,45
>                 <dt><span jhiTranslate="teamdojoApp.level.dimension">Dimension</span></dt>
>                 <dd>
>                     <div *ngIf="level.dimensionId">
>                         <a [routerLink]="['/dimension', level.dimensionId, 'view']">{{level.dimensionName}}</a>
>                     </div>
>                 </dd>
51c51
<                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.back"> Back</span>
---
>                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
57c57
<                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.edit"> Edit</span>
---
>                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
