4c4
<             <h2 dojoTranslate="teamdojoApp.level.home.createOrEditLabel" id="jhi-level-heading">Create or edit a Level</h2>
---
>             <h2 id="jhi-level-heading" jhiTranslate="teamdojoApp.level.home.createOrEditLabel">Create or edit a Level</h2>
8c8
<                     <label dojoTranslate="teamdojoApp.global.field.id" for="id">ID</label>
---
>                     <label for="id" jhiTranslate="global.field.id">ID</label>
13c13
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.level.name" for="field_name">Name</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.level.name" for="field_name">Name</label>
18c18
<                         [hidden]="!editForm.controls.name?.errors?.required" dojoTranslate="entity.validation.required">
---
>                         [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
22,23c22
<                                [hidden]="!editForm.controls.name?.errors?.maxlength"
<                                [translateValues]="{ max: 50 }" dojoTranslate="entity.validation.maxlength">
---
>                         [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
29c28
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.level.description" for="field_description">Description</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.level.description" for="field_description">Description</label>
34c33
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.level.requiredScore" for="field_requiredScore">Required Score</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.level.requiredScore" for="field_requiredScore">Required Score</label>
39c38
<                         [hidden]="!editForm.controls.requiredScore?.errors?.required" dojoTranslate="entity.validation.required">
---
>                         [hidden]="!editForm.controls.requiredScore?.errors?.required" jhiTranslate="entity.validation.required">
43,44c42
<                                [hidden]="!editForm.controls.requiredScore?.errors?.min"
<                                [translateValues]="{ min: 0 }" dojoTranslate="entity.validation.min">
---
>                             [hidden]="!editForm.controls.requiredScore?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
48,49c46
<                                [hidden]="!editForm.controls.requiredScore?.errors?.max"
<                                [translateValues]="{ max: 1 }" dojoTranslate="entity.validation.max">
---
>                             [hidden]="!editForm.controls.requiredScore?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 1 }">
53c50
<                             [hidden]="!editForm.controls.requiredScore?.errors?.number" dojoTranslate="entity.validation.number">
---
>                             [hidden]="!editForm.controls.requiredScore?.errors?.number" jhiTranslate="entity.validation.number">
59c56
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.level.instantMultiplier" for="field_instantMultiplier">Instant Multiplier</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.level.instantMultiplier" for="field_instantMultiplier">Instant Multiplier</label>
64c61
<                         [hidden]="!editForm.controls.instantMultiplier?.errors?.required" dojoTranslate="entity.validation.required">
---
>                         [hidden]="!editForm.controls.instantMultiplier?.errors?.required" jhiTranslate="entity.validation.required">
68,69c65
<                                [hidden]="!editForm.controls.instantMultiplier?.errors?.min"
<                                [translateValues]="{ min: 0 }" dojoTranslate="entity.validation.min">
---
>                             [hidden]="!editForm.controls.instantMultiplier?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
73c69
<                             [hidden]="!editForm.controls.instantMultiplier?.errors?.number" dojoTranslate="entity.validation.number">
---
>                             [hidden]="!editForm.controls.instantMultiplier?.errors?.number" jhiTranslate="entity.validation.number">
79c75
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.level.completionBonus" for="field_completionBonus">Completion Bonus</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.level.completionBonus" for="field_completionBonus">Completion Bonus</label>
84,85c80
<                                [hidden]="!editForm.controls.completionBonus?.errors?.min"
<                                [translateValues]="{ min: 0 }" dojoTranslate="entity.validation.min">
---
>                             [hidden]="!editForm.controls.completionBonus?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
89c84
<                             [hidden]="!editForm.controls.completionBonus?.errors?.number" dojoTranslate="entity.validation.number">
---
>                             [hidden]="!editForm.controls.completionBonus?.errors?.number" jhiTranslate="entity.validation.number">
96,109c91
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.level.dimension" for="field_dimension">Dimension</label>
<                     <select class="form-control" id="field_dimension" name="dimension" [(ngModel)]="level.dimensionId"  required>
<                         <option *ngIf="!editForm.value.dimension" [ngValue]="null" selected></option>
<                         <option [ngValue]="dimensionOption.id" *ngFor="let dimensionOption of dimensions; trackBy: trackDimensionById">{{dimensionOption.name}}</option>
<                     </select>
<                 </div>
<                 <div [hidden]="!(editForm.controls.dimension?.dirty && editForm.controls.dimension?.invalid)">
<                     <small class="form-text text-danger"
<                         [hidden]="!editForm.controls.dimension?.errors?.required" dojoTranslate="entity.validation.required">
<                         This field is required.
<                     </small>
<                 </div>
<                 <div class="form-group">
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.level.dependsOn" for="field_dependsOn">Depends On</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.level.dependsOn" for="field_dependsOn">Depends On</label>
116c98
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.level.image" for="field_image">Image</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.level.image" for="field_image">Image</label>
121a104,116
>                 <div class="form-group">
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.level.dimension" for="field_dimension">Dimension</label>
>                     <select class="form-control" id="field_dimension" name="dimension" [(ngModel)]="level.dimensionId"  required>
>                         <option *ngIf="!editForm.value.dimension" [ngValue]="null" selected></option>
>                         <option [ngValue]="dimensionOption.id" *ngFor="let dimensionOption of dimensions; trackBy: trackDimensionById">{{dimensionOption.name}}</option>
>                     </select>
>                 </div>
>                 <div [hidden]="!(editForm.controls.dimension?.dirty && editForm.controls.dimension?.invalid)">
>                     <small class="form-text text-danger"
>                         [hidden]="!editForm.controls.dimension?.errors?.required" jhiTranslate="entity.validation.required">
>                         This field is required.
>                     </small>
>                 </div>
125c120
<                     <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.cancel">Cancel</span>
---
>                     <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
128c123
<                     <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.save">Save</span>
---
>                     <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
