<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a [routerLink]="['/']">{{ organisationName }}</a>
    </li>
    <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs" [ngClass]="{ active: breadcrumb.active }">
      <a *ngIf="!breadcrumb.active" [routerLink]="[breadcrumb.path]">
        {{ breadcrumb.text | truncateString: 20 }}
      </a>
      <span *ngIf="breadcrumb.active">{{ breadcrumb.text | truncateString: 20 }}</span>
    </li>
  </ol>
</nav>
