4c4
<             <h1 dojoTranslate="register.title">Registration</h1>
---
>             <h1 jhiTranslate="register.title">Registration</h1>
6c6
<             <div *ngIf="success" class="alert alert-success" dojoTranslate="register.messages.success">
---
>             <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
10c10
<             <div *ngIf="error" class="alert alert-danger" dojoTranslate="register.messages.error.fail">
---
>             <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
14c14
<             <div *ngIf="errorUserExists" class="alert alert-danger" dojoTranslate="register.messages.error.userexists">
---
>             <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
18c18
<             <div *ngIf="errorEmailExists" class="alert alert-danger" dojoTranslate="register.messages.error.emailexists">
---
>             <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
22,23c22
<             <div class="alert alert-danger" *ngIf="doNotMatch"
<                  dojoTranslate="teamdojoApp.global.messages.error.dontmatch">
---
>             <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
32,34c31,32
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.global.form.username" for="login">Username</label>
<                     <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login"
<                            #login="ngModel" placeholder="{{'teamdojoApp.global.form.username.placeholder' | translate}}"
---
>                     <label class="form-control-label" for="login" jhiTranslate="global.form.username">Username</label>
>                     <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="{{'global.form.username.placeholder' | translate}}"
37c35
<                         <small *ngIf="login.errors.required" class="form-text text-danger" dojoTranslate="register.messages.validate.login.required">
---
>                         <small class="form-text text-danger" *ngIf="login.errors.required" jhiTranslate="register.messages.validate.login.required">
41c39
<                                 dojoTranslate="register.messages.validate.login.minlength">
---
>                                 jhiTranslate="register.messages.validate.login.minlength">
45c43
<                                 dojoTranslate="register.messages.validate.login.maxlength">
---
>                                 jhiTranslate="register.messages.validate.login.maxlength">
49c47
<                                dojoTranslate="register.messages.validate.login.pattern">
---
>                                jhiTranslate="register.messages.validate.login.pattern">
55,58c53,54
<                     <label class="form-control-label" for="email"
<                            dojoTranslate="teamdojoApp.global.form.email">Email</label>
<                     <input type="email" class="form-control" id="email" name="email" #email="ngModel"
<                            placeholder="{{'teamdojoApp.global.form.email.placeholder' | translate}}"
---
>                     <label class="form-control-label" for="email" jhiTranslate="global.form.email">Email</label>
>                     <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="{{'global.form.email.placeholder' | translate}}"
62c58
<                                dojoTranslate="teamdojoApp.global.messages.validate.email.required">
---
>                                 jhiTranslate="global.messages.validate.email.required">
66c62
<                                dojoTranslate="teamdojoApp.global.messages.validate.email.invalid">
---
>                                jhiTranslate="global.messages.validate.email.invalid">
70c66
<                                dojoTranslate="teamdojoApp.global.messages.validate.email.minlength">
---
>                                jhiTranslate="global.messages.validate.email.minlength">
74c70
<                                dojoTranslate="teamdojoApp.global.messages.validate.email.maxlength">
---
>                                jhiTranslate="global.messages.validate.email.maxlength">
80,83c76,77
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.global.form.newpassword" for="password">New
<                         password</label>
<                     <input type="password" class="form-control" id="password" name="password" #password="ngModel"
<                            placeholder="{{'teamdojoApp.global.form.newpassword.placeholder' | translate}}"
---
>                     <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword">New password</label>
>                     <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
87c81
<                                dojoTranslate="teamdojoApp.global.messages.validate.newpassword.required">
---
>                                 jhiTranslate="global.messages.validate.newpassword.required">
91c85
<                                dojoTranslate="teamdojoApp.global.messages.validate.newpassword.minlength">
---
>                                 jhiTranslate="global.messages.validate.newpassword.minlength">
95c89
<                                dojoTranslate="teamdojoApp.global.messages.validate.newpassword.maxlength">
---
>                                 jhiTranslate="global.messages.validate.newpassword.maxlength">
102,106c96,97
<                     <label class="form-control-label" for="confirmPassword"
<                            dojoTranslate="teamdojoApp.global.form.confirmpassword">New password confirmation</label>
<                     <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
<                            #confirmPasswordInput="ngModel"
<                            placeholder="{{'teamdojoApp.global.form.confirmpassword.placeholder' | translate}}"
---
>                     <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword">New password confirmation</label>
>                     <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
110c101
<                                dojoTranslate="teamdojoApp.global.messages.validate.confirmpassword.required">
---
>                                jhiTranslate="global.messages.validate.confirmpassword.required">
114c105
<                                dojoTranslate="teamdojoApp.global.messages.validate.confirmpassword.minlength">
---
>                               jhiTranslate="global.messages.validate.confirmpassword.minlength">
118c109
<                                dojoTranslate="teamdojoApp.global.messages.validate.confirmpassword.maxlength">
---
>                                jhiTranslate="global.messages.validate.confirmpassword.maxlength">
124c115
<                 <button [disabled]="registerForm.form.invalid" class="btn btn-primary" dojoTranslate="register.form.button" type="submit">Register</button>
---
>                 <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary" jhiTranslate="register.form.button">Register</button>
128,131c119,120
<                 <span dojoTranslate="teamdojoApp.global.messages.info.authenticated.prefix">If you want to </span>
<                 <a class="alert-link" (click)="openLogin()"
<                    dojoTranslate="teamdojoApp.global.messages.info.authenticated.link">sign in</a><span
<                 dojoTranslate="teamdojoApp.global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
---
>                 <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
>                 <a class="alert-link" (click)="openLogin()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
