2c2
<     <h2 dojoTranslate="audits.title" id="audits-page-heading">Audits</h2>
---
>     <h2 id="audits-page-heading" jhiTranslate="audits.title">Audits</h2>
6c6
<             <h4 dojoTranslate="audits.filter.title">Filter by date</h4>
---
>             <h4 jhiTranslate="audits.filter.title">Filter by date</h4>
9c9
<                     <span class="input-group-text" dojoTranslate="audits.filter.from">from</span>
---
>                     <span class="input-group-text" jhiTranslate="audits.filter.from">from</span>
14c14
<                     <span class="input-group-text" dojoTranslate="audits.filter.to">To</span>
---
>                     <span class="input-group-text" jhiTranslate="audits.filter.to">To</span>
25,28c25,28
<                 <th jhiSortBy="auditEventDate"><span dojoTranslate="audits.table.header.date">Date</span><span class="fa fa-sort"></span></th>
<                 <th jhiSortBy="principal"><span dojoTranslate="audits.table.header.principal">User</span><span class="fa fa-sort"></span></th>
<                 <th jhiSortBy="auditEventType"><span dojoTranslate="audits.table.header.status">State</span><span class="fa fa-sort"></span></th>
<                 <th><span dojoTranslate="audits.table.header.data">Extra data</span></th>
---
>                 <th jhiSortBy="auditEventDate"><span jhiTranslate="audits.table.header.date">Date</span><fa-icon [icon]="'sort'"></fa-icon></th>
>                 <th jhiSortBy="principal"><span jhiTranslate="audits.table.header.principal">User</span><fa-icon [icon]="'sort'"></fa-icon></th>
>                 <th jhiSortBy="auditEventType"><span jhiTranslate="audits.table.header.status">State</span><fa-icon [icon]="'sort'"></fa-icon></th>
>                 <th><span jhiTranslate="audits.table.header.data">Extra data</span></th>
38c38
<                     <span *ngIf="audit.data" ng-show="audit.data.remoteAddress"><span dojoTranslate="audits.table.data.remoteAddress">Remote Address</span> {{audit.data.remoteAddress}}</span>
---
>                     <span *ngIf="audit.data" ng-show="audit.data.remoteAddress"><span jhiTranslate="audits.table.data.remoteAddress">Remote Address</span> {{audit.data.remoteAddress}}</span>
