4c4
<             <h2><span dojoTranslate="teamdojoApp.skill.detail.title">Skill</span> {{skill.id}}</h2>
---
>             <h2><span jhiTranslate="teamdojoApp.skill.detail.title">Skill</span> {{skill.id}}</h2>
8c8
<                 <dt><span dojoTranslate="teamdojoApp.skill.title">Title</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.skill.title">Title</span></dt>
12c12
<                 <dt><span dojoTranslate="teamdojoApp.skill.description">Description</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.skill.description">Description</span></dt>
14c14
<                     <markdown [data]="skill.description"></markdown>
---
>                     <span>{{skill.description}}</span>
16c16
<                 <dt><span dojoTranslate="teamdojoApp.skill.implementation">Implementation</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.skill.implementation">Implementation</span></dt>
18c18
<                     <markdown [data]="skill.implementation"></markdown>
---
>                     <span>{{skill.implementation}}</span>
20c20
<                 <dt><span dojoTranslate="teamdojoApp.skill.validation">Validation</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.skill.validation">Validation</span></dt>
22c22
<                     <markdown [data]="skill.validation"></markdown>
---
>                     <span>{{skill.validation}}</span>
24c24
<                 <dt><span dojoTranslate="teamdojoApp.skill.expiryPeriod">Expiry Period</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.skill.expiryPeriod">Expiry Period</span></dt>
28c28
<                 <dt><span dojoTranslate="teamdojoApp.skill.contact">Contact</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.skill.contact">Contact</span></dt>
32c32
<                 <dt><span dojoTranslate="teamdojoApp.skill.score">Score</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.skill.score">Score</span></dt>
36c36
<                 <dt><span dojoTranslate="teamdojoApp.skill.rateScore">Rate Score</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.skill.rateScore">Rate Score</span></dt>
40c40
<                 <dt><span dojoTranslate="teamdojoApp.skill.rateCount">Rate Count</span></dt>
---
>                 <dt><span jhiTranslate="teamdojoApp.skill.rateCount">Rate Count</span></dt>
49c49
<                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.back"> Back</span>
---
>                 <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
55c55
<                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.edit"> Edit</span>
---
>                 <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
