4c4
<             <h2 dojoTranslate="teamdojoApp.skill.home.createOrEditLabel" id="jhi-skill-heading">Create or edit a Skill</h2>
---
>             <h2 id="jhi-skill-heading" jhiTranslate="teamdojoApp.skill.home.createOrEditLabel">Create or edit a Skill</h2>
8c8
<                     <label dojoTranslate="teamdojoApp.global.field.id" for="id">ID</label>
---
>                     <label for="id" jhiTranslate="global.field.id">ID</label>
13,14c13
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.skill.title" for="field_title">Title</label>
<                     <span>{{ 'teamdojoApp.skill.titleExplanationShort' | translate }}</span>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.skill.title" for="field_title">Title</label>
19c18
<                         [hidden]="!editForm.controls.title?.errors?.required" dojoTranslate="entity.validation.required">
---
>                         [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
23,24c22
<                                [hidden]="!editForm.controls.title?.errors?.minlength"
<                                [translateValues]="{ min: 5 }" dojoTranslate="entity.validation.minlength">
---
>                         [hidden]="!editForm.controls.title?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
28,29c26
<                                [hidden]="!editForm.controls.title?.errors?.maxlength"
<                                [translateValues]="{ max: 80 }" dojoTranslate="entity.validation.maxlength">
---
>                         [hidden]="!editForm.controls.title?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 80 }">
34,35d30
<                 <span>{{ 'teamdojoApp.skill.titleExplanation' | translate }}</span>
<                 <hr>
37,41c32,34
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.skill.description" for="field_description">Description</label>
<                     <span>{{ 'teamdojoApp.skill.descriptionExplanationShort' | translate }}</span>
<                     <span class="pull-right text-secondary">{{ 'teamdojoApp.skill.markdownSupported' | translate}}</span>
<                     <textarea class="form-control" name="description" id="field_description"
<                               [(ngModel)]="skill.description" rows="6" maxlength="2048"></textarea>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.skill.description" for="field_description">Description</label>
>                     <input type="text" class="form-control" name="description" id="field_description"
>                         [(ngModel)]="skill.description" maxlength="2048"/>
44,45c37
<                                [hidden]="!editForm.controls.description?.errors?.maxlength"
<                                [translateValues]="{ max: 2048 }" dojoTranslate="entity.validation.maxlength">
---
>                         [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2048 }">
50,51d41
<                 <span>{{ 'teamdojoApp.skill.descriptionExplanation' | translate }}</span>
<                 <hr>
53,57c43,45
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.skill.implementation" for="field_implementation">Implementation</label>
<                     <span>{{ 'teamdojoApp.skill.implementationExplanationShort' | translate }}</span>
<                     <span class="pull-right text-secondary">{{ 'teamdojoApp.skill.markdownSupported' | translate}}</span>
<                     <textarea class="form-control" name="implementation" id="field_implementation"
<                               [(ngModel)]="skill.implementation" rows="6" maxlength="2048"></textarea>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.skill.implementation" for="field_implementation">Implementation</label>
>                     <input type="text" class="form-control" name="implementation" id="field_implementation"
>                         [(ngModel)]="skill.implementation" maxlength="2048"/>
60,61c48
<                                [hidden]="!editForm.controls.implementation?.errors?.maxlength"
<                                [translateValues]="{ max: 2048 }" dojoTranslate="entity.validation.maxlength">
---
>                         [hidden]="!editForm.controls.implementation?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2048 }">
66,67d52
<                 <span>{{ 'teamdojoApp.skill.implementationExplanation' | translate }}</span>
<                 <hr>
69,73c54,56
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.skill.validation" for="field_validation">Validation</label>
<                     <span>{{ 'teamdojoApp.skill.validationExplanationShort' | translate }}</span>
<                     <span class="pull-right text-secondary">{{ 'teamdojoApp.skill.markdownSupported' | translate}}</span>
<                     <textarea class="form-control" name="validation" id="field_validation"
<                               [(ngModel)]="skill.validation" rows="6" maxlength="2048"></textarea>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.skill.validation" for="field_validation">Validation</label>
>                     <input type="text" class="form-control" name="validation" id="field_validation"
>                         [(ngModel)]="skill.validation" maxlength="2048"/>
76,77c59
<                                [hidden]="!editForm.controls.validation?.errors?.maxlength"
<                                [translateValues]="{ max: 2048 }" dojoTranslate="entity.validation.maxlength">
---
>                         [hidden]="!editForm.controls.validation?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2048 }">
82,83d63
<                 <span>{{ 'teamdojoApp.skill.validationExplanation' | translate }}</span>
<                 <hr>
85c65
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.skill.expiryPeriod" for="field_expiryPeriod">Expiry Period</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.skill.expiryPeriod" for="field_expiryPeriod">Expiry Period</label>
90c70
<                             [hidden]="!editForm.controls.expiryPeriod?.errors?.min" dojoTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
---
>                             [hidden]="!editForm.controls.expiryPeriod?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
94c74
<                             [hidden]="!editForm.controls.expiryPeriod?.errors?.number" dojoTranslate="entity.validation.number">
---
>                             [hidden]="!editForm.controls.expiryPeriod?.errors?.number" jhiTranslate="entity.validation.number">
100c80
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.skill.contact" for="field_contact">Contact</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.skill.contact" for="field_contact">Contact</label>
105c85
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.skill.score" for="field_score">Score</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.skill.score" for="field_score">Score</label>
110c90
<                         [hidden]="!editForm.controls.score?.errors?.required" dojoTranslate="entity.validation.required">
---
>                         [hidden]="!editForm.controls.score?.errors?.required" jhiTranslate="entity.validation.required">
114,115c94
<                                [hidden]="!editForm.controls.score?.errors?.min" dojoTranslate="entity.validation.min"
<                                [translateValues]="{ min: 0 }">
---
>                             [hidden]="!editForm.controls.score?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
119c98
<                             [hidden]="!editForm.controls.score?.errors?.number" dojoTranslate="entity.validation.number">
---
>                             [hidden]="!editForm.controls.score?.errors?.number" jhiTranslate="entity.validation.number">
125c104
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.skill.rateScore" for="field_rateScore">Rate Score</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.skill.rateScore" for="field_rateScore">Rate Score</label>
130,131c109
<                                [hidden]="!editForm.controls.rateScore?.errors?.min" dojoTranslate="entity.validation.min"
<                                [translateValues]="{ min: 0 }">
---
>                             [hidden]="!editForm.controls.rateScore?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
135,136c113
<                                [hidden]="!editForm.controls.rateScore?.errors?.max" dojoTranslate="entity.validation.max"
<                                [translateValues]="{ max: 5 }">
---
>                             [hidden]="!editForm.controls.rateScore?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
140c117
<                             [hidden]="!editForm.controls.rateScore?.errors?.number" dojoTranslate="entity.validation.number">
---
>                             [hidden]="!editForm.controls.rateScore?.errors?.number" jhiTranslate="entity.validation.number">
146c123
<                     <label class="form-control-label" dojoTranslate="teamdojoApp.skill.rateCount" for="field_rateCount">Rate Count</label>
---
>                     <label class="form-control-label" jhiTranslate="teamdojoApp.skill.rateCount" for="field_rateCount">Rate Count</label>
151,152c128
<                                [hidden]="!editForm.controls.rateCount?.errors?.min" dojoTranslate="entity.validation.min"
<                                [translateValues]="{ min: 0 }">
---
>                             [hidden]="!editForm.controls.rateCount?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
156c132
<                             [hidden]="!editForm.controls.rateCount?.errors?.number" dojoTranslate="entity.validation.number">
---
>                             [hidden]="!editForm.controls.rateCount?.errors?.number" jhiTranslate="entity.validation.number">
165c141
<                     <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.cancel">Cancel</span>
---
>                     <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
168c144
<                     <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.save">Save</span>
---
>                     <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
