3c3
<         <span dojoTranslate="teamdojoApp.skill.home.title">Skills</span>
---
>         <span jhiTranslate="teamdojoApp.skill.home.title">Skills</span>
6c6
<             <span  dojoTranslate="teamdojoApp.skill.home.createLabel">
---
>             <span  jhiTranslate="teamdojoApp.skill.home.createLabel">
17,26c17,26
<             <th jhiSortBy="id"><span dojoTranslate="teamdojoApp.global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="title"><span dojoTranslate="teamdojoApp.skill.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="description"><span dojoTranslate="teamdojoApp.skill.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="implementation"><span dojoTranslate="teamdojoApp.skill.implementation">Implementation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="validation"><span dojoTranslate="teamdojoApp.skill.validation">Validation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="expiryPeriod"><span dojoTranslate="teamdojoApp.skill.expiryPeriod">Expiry Period</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="contact"><span dojoTranslate="teamdojoApp.skill.contact">Contact</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="score"><span dojoTranslate="teamdojoApp.skill.score">Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="rateScore"><span dojoTranslate="teamdojoApp.skill.rateScore">Rate Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<             <th jhiSortBy="rateCount"><span dojoTranslate="teamdojoApp.skill.rateCount">Rate Count</span> <fa-icon [icon]="'sort'"></fa-icon></th>
---
>             <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="title"><span jhiTranslate="teamdojoApp.skill.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="description"><span jhiTranslate="teamdojoApp.skill.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="implementation"><span jhiTranslate="teamdojoApp.skill.implementation">Implementation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="validation"><span jhiTranslate="teamdojoApp.skill.validation">Validation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="expiryPeriod"><span jhiTranslate="teamdojoApp.skill.expiryPeriod">Expiry Period</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="contact"><span jhiTranslate="teamdojoApp.skill.contact">Contact</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="score"><span jhiTranslate="teamdojoApp.skill.score">Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="rateScore"><span jhiTranslate="teamdojoApp.skill.rateScore">Rate Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
>             <th jhiSortBy="rateCount"><span jhiTranslate="teamdojoApp.skill.rateCount">Rate Count</span> <fa-icon [icon]="'sort'"></fa-icon></th>
29,42d28
< 
<             <tr jhi-table-filter entityName="Skill" [fields]="[
<                 {name: 'id', filter: true, operator: 'equals'},
<                 {name: 'title', filter: true},
<                 {name: 'description', filter: true},
<                 {name: 'implementation', filter: true},
<                 {name: 'validation', filter: true},
<                 {name: 'expiryPeriod', filter: false},
<                 {name: 'contact', filter: false},
<                 {name: 'score', filter: false},
<                 {name: 'rateScore', filter: false},
<                 {name: 'rateCount', filter: false}
<             ]" (onFilterChanged)="applyFilter($event)"></tr>
< 
48,50c34,36
<                 <td class="break-line">{{skill.description}}</td>
<                 <td class="break-line">{{skill.implementation}}</td>
<                 <td class="break-line">{{skill.validation}}</td>
---
>                 <td>{{skill.description}}</td>
>                 <td>{{skill.implementation}}</td>
>                 <td>{{skill.validation}}</td>
62c48
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.view">View</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
68c54
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.edit">Edit</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
76c62
<                             <span class="d-none d-md-inline" dojoTranslate="entity.action.delete">Delete</span>
---
>                             <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
